<template>
    <label class="flex flex-col w-full relative">
        <span class="text-base md:text-[1.375rem] leading-normal text-gray_blue select-none">{{ props.label }}*</span>
        <input
            ref="input"
            type="text"
            :value="props.modelValue"
            @input="updateInput"
            :placeholder="props.placeholder"
            class="border border-white focus:border-gray_hover outline-none text-base md:text-[1.375rem] placeholder:text-base placeholder:md:text-[1.375rem] rounded-[10px] px-4 py-5 md:p-[1.0625rem] my-[5px] bg-white text-black-lighter placeholder:text-gray_blue placeholder:opacity-30"
        >
        <span class="text-base md:text-[1.375rem] leading-normal text-[#ED2709]"></span>
    </label>
</template>

<script setup>
import IMask from "imask";
import {onMounted, ref} from "vue";
import moment from "moment";

const props = defineProps({
    modelValue: [String, Number],
    label: {
        type: String,
        required: true
    },
    placeholder: {
        type: String,
        required: true
    },
    valid: {
        type: Boolean,
    },
    errValidText: {
        type: String
    }
})

const emit = defineEmits(['update:modelValue'])

const updateInput = (e) => {
    emit('update:modelValue', e.target.value)
}

const input = ref(null)

onMounted(() => {
    const momentFormat = 'DD-MM-YYYY';

    IMask(input.value, {
        mask: Date,
        pattern: momentFormat,
        min: new Date(1940, 0, 1),
        max: new Date(new Date().getFullYear(), 0, 1),
        autofix: true,

        format: date => moment(date).format(momentFormat),
        parse: str => moment(str, momentFormat),

        blocks: {
            YYYY: {
                mask: IMask.MaskedRange,
                from: 1940,
                to: new Date().getFullYear()
            },
            MM: {
                mask: IMask.MaskedRange,
                from: 1,
                to: 12
            },
            DD: {
                mask: IMask.MaskedRange,
                from: 1,
                to: 31
            }
        }
    });
})

// export default {
//     name: "DatePickerInput",
//     props: {
//         modelValue: [String, Number],
//     },
//     methods: {
//         updateInput(event) {
//             this.$emit('update:modelValue', event.target.value)
//         },
//         updateInputForDatePicker(event) {
//             const [year, month, day] = event.target.value.split('-');
//             const formattedDateToDDMMYYY = `${day}-${month}-${year}`;
//
//             this.$emit('update:modelValue', formattedDateToDDMMYYY)
//         }
//     }
// }
</script>