<template>
    <label class="flex flex-col w-full relative">
        <span class="text-base md:text-[1.375rem] leading-normal text-gray_blue select-none">{{ props.label }}*</span>
        <input
            id="input"
            :type="props.isEmail ? 'email' : 'text'"
            :placeholder="props.placeholder"
            :value="props.modelValue"
            @input="updateInput"
            class="border outline-none text-base md:text-[1.375rem] placeholder:text-base placeholder:md:text-[1.375rem] rounded-[10px] px-4 py-5 md:p-[1.0625rem] my-[5px] bg-white text-black-lighter placeholder:text-gray_blue placeholder:opacity-30"
            :class="valid && !isValid ? 'focus:border-[#ED2709] border-[#ED2709]' : 'focus:border-gray_hover border-white'"
        >
        <span v-if="valid && !isValid" class="text-base md:text-[1.375rem] leading-normal text-[#ED2709]">{{ errorMessage }}</span>
    </label>
</template>

<script setup>
import {ref} from "vue";

const props = defineProps({
    modelValue: {
        type: String,
        required: true
    },
    label: {
        type: String,
        required: true
    },
    placeholder: {
        type: String,
        required: true
    },
    valid: {
        type: Boolean,
    },
    isEmail: {
        type: Boolean
    },
    errValidText: {
        type: String
    },
    regExp: {
        type: RegExp
    }
})

const errorMessage = ref('')
const isValid = ref(true)

const emit = defineEmits(['update:modelValue'])

const updateInput = (e) => {
    emit('update:modelValue', e.target.value)

    if(props.valid) {
        isValid.value = props.regExp.test(e.target.value)
        errorMessage.value = e.target.value.length > 0 ? props.errValidText : 'Qatorni to\'ldiring!'
    }
}
</script>