<template>
    <label class="flex flex-col w-full">
        <span class="text-base md:text-[1.375rem] leading-normal text-gray_blue">{{ props.label }}*</span>
        <input
            ref="input"
            type="text"
            :placeholder="props.placeholder"
            :value="props.modelValue"
            @input="updateInput"
            class="border outline-none text-base md:text-[1.375rem] placeholder:text-base placeholder:md:text-[1.375rem] rounded-[10px] px-4 py-5 md:p-[1.0625rem] my-[5px] bg-white text-black-lighter placeholder:text-gray_blue placeholder:opacity-30"
            :class="!isValid ? 'focus:border-[#ED2709] border-[#ED2709]' : 'focus:border-gray_hover border-white'"
        >
        <span v-if="!isValid" class="text-base md:text-[1.375rem] leading-normal text-[#ED2709]">{{ errorMessage }}</span>
    </label>
</template>
<script setup>
import {onMounted, ref} from "vue";
import IMask from "imask";

const props = defineProps({
    modelValue: {
        type: String,
        required: true
    },
    label: {
        type: String,
        required: true
    },
    placeholder: {
        type: String,
        required: true
    },
    valid: {
        type: Boolean,
    }
})

const input = ref(null)
const errorMessage = ref('')
const isValid = ref(true)
const emit = defineEmits(['update:modelValue'])

const updateInput = (e) => {
    emit('update:modelValue', e.target.value)

    isValid.value = e.target.value.length
    errorMessage.value = !e.target.value.length ? 'Qatorni to\'ldiring!' : ''
}

onMounted(() => {
    IMask(input.value, {
        mask: [
            {
                mask: '+000 {(}00){ 000}-00-00',
                startsWith: '998',
                country: 'Uzbekistan'
            },
            {
                mask: '+0 {(}000{)} 000-00-00',
                startsWith: '7',
                country: 'Russia'
            },
            {
                mask: '+0 {(}000{)} 000-00-00',
                startsWith: '1',
                country: 'USA'
            },
            {
                mask: '0000000000000',
                startsWith: '',
                country: 'unknown'
            }
        ],
        dispatch: (appended, dynamicMasked) => {
            const number = (dynamicMasked.value + appended).replace(/\D/g,'');

            return dynamicMasked.compiledMasks.find(m => number.indexOf(m.startsWith) === 0);
        }
    })
})
</script>

<style scoped>
</style>
