<template>
    <HeaderComponent/>
    <div class="bg-main_bg">
        <div class="sm:container px-5">

            <!-- About start -->
            <section class="pt-[1.875rem] flex flex-col xl:flex-row">
                <div>
                    <h1 class="text-2xl lg:text-[2.5rem] font-[Gilroy-semibold]">Junior Full Stack Developer kursi</h1>
                    <p class="lg:text-2xl mt-2.5 lg:mt-[1.875rem]">
                        Endi dasturlashni o’rgangan odam junior dasturchi bo’ladi. Bu “kichik” dasturchi degani. Junior dasturchining ko’p hollarda tajribasi bo’lmaydi, chunki ular endi boshlagan bo’lishadi. Bu kursimizda siz 12ta programma orqali veb sayt yaratishni organasiz. O’zingiz uchun partfoliyo yaratishni organasiz. 5-6 oy davom etadigan bu kursimiz onlayn jonli tarzda bo’lib o’tadi.
                    </p>
                    <div class="grid grid-cols-2 sm:grid-cols-3 rounded-[0.625rem] 2xl:grid-cols-4 xl:bg-gray_blue xl:px-[3.75rem] xl:py-[1.875rem] gap-2.5 lg:gap-[1.875rem] mt-[1.875rem]">
                        <SkillCardComponent
                            v-for="(skill, index) in skills"
                            :key="index"
                            :skill="skill"
                        ></SkillCardComponent>
                    </div>
                </div>
               <AdComponent/>
            </section>
            <!-- About end -->

            <!-- About skills start -->
            <section class="pt-[3.75rem]">
                <h1 class="text-2xl lg:text-4xl font-[Gilroy-semibold]">O’rganadigan Programmalar haqida</h1>
                <div class="mt-2.5 lg:mt-[1.875rem]">
                    <SkillCardComponent class="float-left min-w-[7.5rem] lg:min-w-[15rem] mr-2.5 lg:mr-5" :skill="skills[0]"></SkillCardComponent>
                    <p class="lg:text-2xl/[42px]">
                        Bu “kichik” dasturchi degani. Junior dasturchining ko’p hollarda tajribasi bo’lmaydi, chunki ular endi boshlagan bo’lishadi. Bu kursimizda siz 12ta programma orqali veb sayt yaratishni organasiz. O’zingiz uchun partfoliyo yaratishni organasiz. 5-6 oy davom etadigan bu kursimiz onlayn jonli tarzda bo’lib o’tadi.
                    </p>
                </div>
                <div class="mt-5 lg:mt-[1.875rem]">
                    <SkillCardComponent class="float-left min-w-[7.5rem] lg:min-w-[15rem] mr-2.5 lg:mr-5" :skill="skills[1]"></SkillCardComponent>
                    <p class="lg:text-2xl/[42px] ">
                        Junior dasturchining ko’p hollarda tajribasi bo’lmaydi, chunki ular endi boshlagan bo’lishadi. Bu kursimizda siz 12ta programma orqali veb sayt yaratishni organasiz. O’zingiz uchun partfoliyo yaratishni organasiz. 5-6 oy davom etadigan bu kursimiz onlayn jonli tarzda bo’lib o’tadi.
                    </p>
                </div>
                <div class="mt-5 lg:mt-[1.875rem]">
                    <SkillCardComponent class="float-left min-w-[7.5rem] lg:min-w-[15rem] mr-2.5 lg:mr-5" :skill="skills[2]"></SkillCardComponent>
                    <p class="lg:text-2xl/[42px]">
                        Bu “kichik” dasturchi degani. Junior dasturchining ko’p hollarda tajribasi bo’lmaydi, chunki ular endi boshlagan bo’lishadi. Bu kursimizda siz 12ta programma orqali veb sayt yaratishni organasiz. O’zingiz uchun partfoliyo yaratishni organasiz. 5-6 oy davom etadigan bu kursimiz onlayn jonli tarzda bo’lib o’tadi.
                    </p>
                </div>
                <div class="mt-5 lg:mt-[1.875rem]">
                    <SkillCardComponent class="float-left min-w-[7.5rem] lg:min-w-[15rem] mr-2.5 lg:mr-5" :skill="skills[3]"></SkillCardComponent>
                    <p class="lg:text-2xl/[42px]">
                        Bu “kichik” dasturchi degani. Junior dasturchining ko’p hollarda tajribasi bo’lmaydi, chunki ular endi boshlagan bo’lishadi. Bu kursimizda siz 12ta programma orqali veb sayt yaratishni organasiz. O’zingiz uchun partfoliyo yaratishni organasiz. 5-6 oy davom etadigan bu kursimiz onlayn jonli tarzda bo’lib o’tadi.
                    </p>
                </div>
            </section>
            <!-- About skills start -->

            <h1 class="text-2xl mt-[1.875rem] lg:text-4xl font-[Gilroy-semibold]">Muddat</h1>
            <p class="lg:text-2xl mt-2.5">
                5-6 oy davom etadigan bu kursimiz onlayn jonli tarzda bo’lib o’tadi.
            </p>

            <!-- Forma start -->
            <section class="pb-16 lg:pb-40">
                <h2 class="text-2xl mt-[1.875rem] lg:text-4xl font-[Gilroy-semibold]">Kursni tanlang</h2>
                <RadioInputComponent
                    class="mt-5"
                    label="Kurs tanlang"
                    id="course"
                    :options="courseMonths"
                    :value="selectedMonth"
                    @update:value="updateMonth"
                ></RadioInputComponent>

                <div class="saleBg rounded-lg flex flex-col lg:flex-row lg:justify-between p-3 lg:px-10 lg:py-5 mt-5 lg:mt-[1.875rem]">
                    <div class="flex items-center">
                        <h2 class="text-white mr-2.5 font-bold text-xl lg:text-3xl">Bu kursimizda 30% chegirmani qo’lga kiriting</h2>
                        <img class="lg:w-[3.75rem]" src="@/svg/gift-dynamic-premium.svg" alt="gift">
                    </div>
                    <div class="flex items-center lg:flex-row-reverse gap-5 lg:ml-2.5 mt-2.5">
                        <div class="text-md lg:text-xl text-white">Aksiya ohirigacha qoldi</div>
                        <div class="lg:text-3xl whitespace-nowrap text-white font-[Gilroy-semibold]">2 : 00 : 48 : 30</div>
                    </div>
                </div>

                <div class="grid grid-cols-1 sm:grid-cols-2 mt-5 lg:mt-10">
                    <div class="mb-5 lg:mb-0 w-full md:max-w-fit md:mr-[1.875rem]">
                        <div class="text-sm lg:text-base">Eng chuqur orgatilgan 0dan to Storng Junior+ gacha bo’lgan kurs. 4 oy davom etadi</div>
                        <div class="flex items-center py-4 lg:py-[1.875rem]">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <circle cx="11.9998" cy="12.0003" r="9.00375" fill="#80007F" fill-opacity="0.2"/>
                                <path d="M8.44238 12.3392L10.6103 14.5071L10.5963 14.4931L15.4873 9.60205" stroke="#80007F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <div class="ml-5 text-sm lg:text-base">Boshlanish oyi : Sentabr</div>
                        </div>
                        <hr class="border-gray_hr">
                        <div class="flex items-center py-4 lg:py-[1.875rem]">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <circle cx="11.9998" cy="12.0003" r="9.00375" fill="#80007F" fill-opacity="0.2"/>
                                <path d="M8.44238 12.3392L10.6103 14.5071L10.5963 14.4931L15.4873 9.60205" stroke="#80007F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <div class="ml-5 text-sm lg:text-base">Dushanba va payshanba kunlari</div>
                        </div>
                        <hr class="border-gray_hr">
                        <div class="flex items-center py-4 lg:py-[1.875rem]">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <circle cx="11.9998" cy="12.0003" r="9.00375" fill="#80007F" fill-opacity="0.2"/>
                                <path d="M8.44238 12.3392L10.6103 14.5071L10.5963 14.4931L15.4873 9.60205" stroke="#80007F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <div class="ml-5 text-sm lg:text-base">Soat 20:00 dan 22:00 gacha</div>
                        </div>
                        <hr class="border-gray_hr">
                        <div class="flex items-center py-4 lg:py-[1.875rem]">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <circle cx="11.9998" cy="12.0003" r="9.00375" fill="#80007F" fill-opacity="0.2"/>
                                <path d="M8.44238 12.3392L10.6103 14.5071L10.5963 14.4931L15.4873 9.60205" stroke="#80007F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <div class="ml-5 text-sm lg:text-base"><span class="text-main_color text-md lg:text-xl font-[Gilroy-semibold]">7 ta</span> bo’sh o’rin qoldi</div>
                        </div>
                    </div>
                    <div class="w-full grid grid-cols-10 sm:pl-2.5">
                        <div class="col-span-full 2xl:col-span-8">
                            <RadioInputComponent
                                label="To'lov turi"
                                id="payment"
                                :options="paymentTypes"
                                :value="selectedPayment"
                                @update:value="updatePayment"
                            ></RadioInputComponent>

                            <div class="flex flex-wrap mt-4 lg:mt-[1.875rem]">
                                <div class="text-xl lg:text-[2.125rem] flex mr-4">2000000 <span class="text-md ml-1 mt-auto font-[Gilroy] lg:text-2xl">uzs/oyiga</span></div>
                                <div class="text-md lg:text-2xl text-gray_blue flex items-end font-[Gilroy]"><span class="text-xl mr-1 lg:text-[2.125rem] line-through">3800000</span> uzs/oyiga</div>
                            </div>
                            <div class="lg:text-xl">4 to'lov</div>

                            <a href="#" class="text-main_color lg:text-xl mt-5 lg:mt-[1.875rem] flex items-center">
                                Menda promokod mavjud
                                <svg class="w-4 h-4 ml-1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                                    <path d="M11 22L18 15L11 8" stroke="#80007F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </a>

                            <div class="mt-5 lg:mt-[1.875rem] flex items-center">
                                <CheckboxComponent/>
                                <div class="lg:text-xl pl-2">Barcha shartnoma shartlariga roziman</div>
                            </div>

                            <ButtonComponent v-if="false" size="lg:text-lg" class=" flex justify-center items-center mt-5 lg:mt-[1.875rem]">
                                To’lov uchun ro’yxatdan o’ting
                                <svg class="w-5 h-5 lg:w-[1.625rem] ml-1 lg:h-[1.625rem]" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                                    <path d="M20.6411 11.5689L11.3589 20.4309" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M20.4905 18.0487L20.6407 11.5687" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M14.161 11.4187L20.6411 11.5688" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </ButtonComponent>
                            <ButtonComponent v-else variant="gray" size="lg:text-lg" class=" flex justify-center items-center mt-5 lg:mt-[1.875rem]">
                                To’lovni amalga oshirish
                                <svg class="w-5 h-5 lg:w-[1.625rem] ml-1 lg:h-[1.625rem]" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                                    <path d="M20.6411 11.5689L11.3589 20.4309" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M20.4905 18.0487L20.6407 11.5687" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M14.161 11.4187L20.6411 11.5688" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </ButtonComponent>
                            <div class="lg:text-lg mt-2.5">To’lov faqat Humo karta orqali amalga oshiriladi</div>
                        </div>

                    </div>
                </div>
            </section>
            <!-- Forma end -->
        </div>
    </div>
    <FooterComponent/>
</template>

<script setup>
import {reactive, ref} from "vue";
import SkillCardComponent from "@/components/SkillCardComponent.vue";
import RadioInputComponent from "@/components/RadioInputComponent.vue";
import ButtonComponent from "@/components/ButtonComponent.vue";
import CheckboxComponent from "@/components/CheckboxComponent.vue";
import AdComponent from "@/components/AdComponent.vue";
import HeaderComponent from "@/components/HeaderComponent.vue";
import FooterComponent from "@/components/FooterComponent.vue";
import htmlImg from '../svg/Property 1=HTML.svg'
import phpImg from '../svg/Property 1=php.svg'
import bootstrapImg from '../svg/Property 1=bootstrap.svg'
import cssImg from '../svg/Property 1=css.svg'
import githubImg from '../svg/Property 1=github.svg'
import jsImg from '../svg/Property 1=js.svg'

const skills = reactive([
    {name: 'HTML', icon: htmlImg},
    {name: 'Bootstrap', icon: bootstrapImg},
    {name: 'PHP', icon: phpImg},
    {name: 'CSS', icon: cssImg},
    {name: 'Git', icon: githubImg},
    {name: 'JavaScript', icon: jsImg},
    {name: 'HTML', icon: htmlImg},
    {name: 'Bootstrap', icon: bootstrapImg},
    {name: 'PHP', icon: phpImg},
    {name: 'CSS', icon: cssImg},
    {name: 'Git', icon: githubImg},
    {name: 'JavaScript', icon: jsImg},
])
const courseMonths = [
    { label: 'Junior Full Stack - sentyabr', value: 'september', percentage: 5, checked: true},
    { label: 'Junior Full Stack - oktyabr', value: 'october', percentage: 15, checked: false },
    { label: 'Junior Full Stack - noyabr', value: 'november', percentage: 20, checked: false },
    { label: 'Junior Full Stack - dekabr', value: 'december', percentage: 30, checked: false },
]
const paymentTypes = [
    {label: 'Oylik', value: 'month', checked: true},
    {label: 'Umumiy', value: 'total', checked: false},
]

const selectedMonth = ref('');
const selectedPayment = ref('')

const updateMonth = (value) => {
    selectedMonth.value = value;
};
const updatePayment = (value) => {
    selectedPayment.value = value
}

</script>

<style scoped>
.saleBg {
    background: linear-gradient(90deg, #00ADD3 0%, #6100FF 100%);
}
</style>