<template>
    <div class="bg-auth_bg min-h-screen">
        <div class="container flex relative justify-center pt-2.5 pb-10 md:py-[5.75rem] md:px-0 min-h-screen">
            <div class="absolute left-0 sm:left-20 md:left-0 ">
                <BackButtonComponent @click="back"/>
            </div>
            <div class="flex flex-col gap-[1.875rem] w-[25rem] relative my-auto">
                <div class="hidden md:flex justify-center mb-5 md:mb-2.5">
                    <MainLogoComponent variant="authLogo"/>
                </div>
                <div class="md:hidden flex justify-center -mb-2.5">
                    <MainLogoComponent variant="sm:authLogo"/>
                </div>
                <p class="text-black font-[Gilroy-semibold] text-2xl md:text-[1.875rem] leading-normal text-center">
                    Parolni tiklash</p>

                <InputComponent
                    label="Tasdiqlash kodi"
                    v-model="code"
                    placeholder="Tasdiqlash kodini kiriting*..."
                    err-valid-text="Ism kamida 3ta harfdan iborat bo'lishi kerak!"
                />
                <p class="text-base md:text-xl">Profilim mavjud?
                    <router-link to="sign-in"><span class="text-main_color">Kirish</span></router-link>
                </p>

                <router-link to="/new-password">
                    <ButtonComponent class="py-4" :variant="code.length ? 'primary' : 'gray-blue'">Davom etish
                    </ButtonComponent>
                </router-link>
            </div>

        </div>
    </div>
</template>

<script setup>
import ButtonComponent from "@/components/ButtonComponent.vue";
import BackButtonComponent from "@/components/BackButtonComponent.vue";
import MainLogoComponent from "@/components/MainLogoComponent.vue";
import {onMounted, ref} from "vue";
import InputComponent from "@/components/inputs/InputComponent.vue";
import IMask from "imask";
import useBack from "@/hooks/useBack.js";

const code = ref('')

const {back} = useBack()

onMounted(() => {
    const inp = document.querySelector('input')
    console.log(inp)
    IMask(inp,
        {
            mask: '000000',
        }
    )
})
</script>

<style scoped>

</style>