<template>
    <div class="bg-auth_bg min-h-screen">
        <div class="container flex relative justify-center pt-2.5 pb-10 md:py-[5.75rem] md:px-0 min-h-screen">
            <div class="absolute left-0 sm:left-20 md:left-0 ">
                <BackButtonComponent @click="back"/>
            </div>
            <div class="flex flex-col gap-[1.875rem] w-[25rem] relative my-auto">
                <div class="hidden md:flex justify-center mb-5 md:mb-2.5">
                    <MainLogoComponent variant="authLogo"/>
                </div>
                <div class="md:hidden flex justify-center -mb-2.5">
                    <MainLogoComponent variant="sm:authLogo"/>
                </div>
                <p class="text-black font-[Gilroy-semibold] text-2xl md:text-[1.875rem] leading-normal text-center">
                    Parolni tiklash</p>

                <PasswordInputComponent
                        variant="password"
                        label="Parol"
                        v-model="password"
                        placeholder="Yangi parol kiriting..."
                        :valid="true"
                        :reg-exp="/^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{6,}$/"
                        err-valid-text="Parol kamida 6ta belgidan, katta va kichik harflardan raqam va maxsus belgi(!@#$%^&*)lardan iborat bo'lishi kerak!"
                />
                <p class="text-base md:text-xl">Profilim mavjud?
                    <router-link to="sign-in"><span class="text-main_color">Kirish</span></router-link>
                </p>

                <router-link to="/sign-in">
                    <ButtonComponent class="py-4" :variant="password.length ? 'primary' : 'gray-blue'">Davom etish
                    </ButtonComponent>
                </router-link>
            </div>

        </div>
    </div>
</template>

<script setup>
import PasswordInputComponent from "@/components/inputs/PasswordInputComponent.vue";
import ButtonComponent from "@/components/ButtonComponent.vue";
import BackButtonComponent from "@/components/BackButtonComponent.vue";
import MainLogoComponent from "@/components/MainLogoComponent.vue";
import {ref} from "vue";
import useBack from "@/hooks/useBack.js";

const password = ref('')

const {back} = useBack()
</script>

<style scoped>

</style>