<template>
    <HeaderComponent/>
    <div class="bg-main_bg">
        <div class="sm:container px-5">

            <!-- Advertisement start -->
            <section class="pt-10 lg:pt-[6.25rem] xl:pt-[9.375rem] grid gap-[1.875rem] lg:gap-0 lg:gap-y-10 lg:grid-cols-2">
                <div class="flex flex-col gap-[1.875rem] lg:gap-10">
                    <h1 class="text-[1.75rem] sm:text-4xl xl:text-[3.125rem] 2xl:text-[4rem] text-[#191919] xl:min-w-[710px] font-[Gilroy-semibold]">
                        <span class="text-main_color">Dasturlashni</span> o'rganib hayotingizni o'zgartiring
                    </h1>
                    <h2 class="sm:text-2xl xl:text-[1.875rem]">Biz bilan dasturlashni onlayn tarzda sifatli o’rganing va hayotingizda yangilik oching</h2>
                </div>
                <div class="lg:hidden">
                    <img class="w-full" src="@/svg/Group%20363%20-%20sm.svg" alt="Skills">
                </div>
                <div class="hidden lg:block row-span-2 relative">
                    <img class="w-full absolute -top-[4.625rem] xl:-top-[5.75rem]" src="@/svg/Group%20363.svg" alt="Skills">
                </div>

                <div class="flex flex-col lg:w-fit sm:flex-row gap-2.5 lg:gap-5">
                    <ButtonComponent size="lg:text-lg" variant="white-bordered hover:shadow-xl duration-200 ease-in">Tekin kursdan boshlash</ButtonComponent>
                    <ButtonComponent size="lg:text-lg" class="flex items-center hover:shadow-xl duration-200 ease-in justify-center gap-1">Kursga yozilish <img class="lg:w-[1.5rem]" alt="Arrow" src="@/svg/Group.svg"></ButtonComponent>
                </div>
            </section>
            <!-- Advertisement end -->

            <!-- Results start -->
            <section class="bg-white lg:shadow-lg flex flex-col rounded-[0.625rem] lg:rounded-[2.5rem] mt-[6.25rem] xl:mt-[12.5rem] 2xl:mt-[15.625rem] py-[3.125rem] lg:py-[3.75rem]">
                <div class="text-[1.75rem] mx-auto lg:text-[3.125rem] font-['Gilroy-semibold']">Bizning raqamlar?</div>
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 mt-[1.875rem] lg:mt-[1.25rem] gap-y-[1.875rem] lg:justify-evenly">
                    <div class="text-center">
                        <div class="text-[2.125rem] lg:text-[3.125rem] font-bold">10+</div>
                        <hr class="border-t-[3px] mx-auto w-[9.625rem] border-t-main_color"/>
                        <div class="text-[1.25rem] lg:text-[1.875rem] mt-2.5 lg:mt-4 ">Malakali ekspertlar</div>
                    </div>
                    <div class="text-center">
                        <div class="text-[2.125rem] lg:text-[3.125rem] font-bold">1k+</div>
                        <hr class="border-t-[3px] mx-auto w-[9.625rem] border-t-main_color"/>
                        <div class="text-[1.25rem] lg:text-[1.875rem] mt-2.5 lg:mt-4">Bitirgan o'quvchilarimiz</div>
                    </div>
                    <div class="text-center">
                        <div class="text-[2.125rem] lg:text-[3.125rem] font-bold">14+</div>
                        <hr class="border-t-[3px] mx-auto w-[9.625rem] border-t-main_color"/>
                        <div class="text-[1.25rem] lg:text-[1.875rem] mt-2.5 lg:mt-4">Yil tajriba</div>
                    </div>
                    <div class="text-center">
                        <div class="text-[2.125rem] lg:text-[3.125rem] font-bold">18+</div>
                        <hr class="border-t-[3px] mx-auto w-[9.625rem] border-t-main_color"/>
                        <div class="text-[1.25rem] lg:text-[1.875rem] mt-2.5 lg:mt-4">Programmani o'rgatish</div>
                    </div>
                </div>
            </section>
            <!-- Results end -->

            <div class="mt-[6.25rem] lg:mt-[9.375rem] flex flex-col gap-2.5 lg:gap-0">
                <HeadingTitleComponent>KadirovDev kurslari haqida</HeadingTitleComponent>
                <SubheadingTitleComponent>Hozirgi kunda yetakchi va yagona bo’lib turgan dasturlashni onlayn orgatuvchi kurs</SubheadingTitleComponent>
            </div>

            <!-- About courses start -->
            <section class="mt-[1.875rem] lg:mt-[3.125rem]">
                <div class="relative">
                    <ul class="flex overflow-x-auto lg:overflow-x-hidden courseTitles" ref="tabListRef">
                        <li
                            v-for="(courseLink, index) in courseLinks"
                            :key="index"
                            @click="changeTab(index)"
                            :class="{'border-main_color activeTabBg': activeTab === index}"
                            class="font-[Gilroy-semibold] border-b-[3px] border-gray_bottom_tab hover:text-gray_hover hover:duration-200 ease-in min-w-[12rem] lg:min-w-[30rem] flex items-center pb-2 justify-center text-center cursor-pointer z-10 lg:whitespace-nowrap px-6 lg:px-12 lg:py-6 lg:text-[1.875rem]"
                        >
                            {{ courseLink.title }}
                        </li>
                    </ul>
                    <button
                        @click="scrollTabMenu('left')"
                        :disabled="isDisableLeft"
                        :class="{'opacity-30': isDisableLeft}"
                        class="hidden lg:block absolute top-1/2 z-20 -translate-y-1/2 p-2.5 bg-white rounded-full"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                            <path d="M19 8L12 15L19 22" stroke="#323232" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                    <button
                        @click="scrollTabMenu('right')"
                        :disabled="isDisableRight"
                        :class="{'opacity-30': isDisableRight}"
                        class="hidden lg:block absolute right-0 z-20 top-1/2 -translate-y-1/2 p-2.5 bg-white rounded-full"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                            <path d="M11 22L18 15L11 8" stroke="#323232" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>

                <div v-show="activeTab === 0" class="grid xl:grid-cols-2 gap-[1.875rem] xl:gap-y-0 2xl:gap-y-[1.875rem] mt-[1.875rem] lg:mt-[3.125rem]">
                    <div>
                        <h2 class="font-[Gilroy-semibold] text-xl lg:text-[1.875rem]">
                            Junior Full Stack Developer kursi
                        </h2>
                        <p class="lg:text-2xl mt-2.5">
                            Endi dasturlashni o’rgangan odam junior dasturchi bo’ladi. Bu “kichik” dasturchi degani. Junior dasturchining ko’p hollarda tajribasi bo’lmaydi, chunki ular endi boshlagan bo’lishadi.
                        </p>
                    </div>
                    <div class="xl:col-start-2 xl:row-start-1 xl:row-end-4">
                        <div class=" gap-2.5 lg:gap-[1.875rem] grid grid-cols-2 sm:grid-cols-3 xl:grid-cols-2 2xl:grid-cols-3">
                            <SkillCardComponent
                                v-for="(skill, index) in skills"
                                :key="index"
                                :skill="skill"
                            ></SkillCardComponent>
                        </div>
                    </div>
                    <div>
                        <h2 class="font-[Gilroy-semibold] text-xl lg:text-[1.875rem]">
                            O’rganadigan narsalar
                        </h2>
                        <p class="lg:text-2xl mt-2.5">
                            Bu kursimizda siz 12ta programma orqali veb sayt yaratishni organasiz. O’zingiz uchun partfoliyo yaratishni organasiz.
                        </p>
                    </div>
                    <div>
                        <h2 class="font-[Gilroy-semibold] text-xl lg:text-[1.875rem]">
                            Muddat
                        </h2>
                        <p class="lg:text-2xl mt-2.5">
                            5-6 oy davom etadigan bu kursimiz onlayn jonli tarzda bo’lib o’tadi.
                        </p>
                    </div>

                    <router-link class="flex text-[1.25rem] lg:text-2xl font-[Gilroy-semibold] text-main_color" to="#">Batafsil <img class="w-5 ml-2.5 lg:w-6" alt="Arrow" src="@/svg/arrow-right.svg"></router-link>
                </div>

                <div v-show="activeTab === 1" class="flex justify-center font-semibold text-2xl py-10">
                    Tab Content 2
                </div>
                <div v-show="activeTab === 2" class="flex justify-center font-semibold text-2xl py-10">
                    Tab Content 3
                </div>
                <div v-show="activeTab === 3" class="flex justify-center font-semibold text-2xl py-10">
                    Tab Content 4
                </div>

            </section>
            <!-- About courses start -->

            <div class="mt-[6.25rem] lg:mt-[9.375rem] flex flex-col gap-2.5 lg:gap-0">
                <HeadingTitleComponent>Kursni qanday boshlagan maqul</HeadingTitleComponent>
                <SubheadingTitleComponent>Biz sizga kursni qanday boshlaganingiz maqulligini grafik orqali qisqacha korsatib berdik</SubheadingTitleComponent>
            </div>

            <!-- Course Steps start -->
            <section class="pt-2.5 mb-[6.25rem] lg:hidden">
                <a href="#" class="py-2.5 lg:p-5 shadow-xl flex flex-col lg:flex-row mx-auto items-center bg-white rounded-[0.625rem] gap-2.5 w-40 lg:w-fit">
                    <div class="w-[1.875rem] mx-auto bg-purple_arrows_bg rounded-[5px] p-[5px] h-[1.875rem]">
                        <img class="w-full" src="@/svg/tag-icon-arrows.svg" alt="arrows">
                    </div>
                    <div class="font-[Gilroy-semibold] max-w-[15rem] text-center lg:text-start text-[0.875rem] lg:text-lg">
                        Umumiy dasturlash teoriyasi
                    </div>
                </a>

                <div class="flex justify-center">
                    <svg class="translate-y-16" xmlns="http://www.w3.org/2000/svg" width="32" height="116" viewBox="0 0 32 116" fill="none">
                        <path d="M4.625 1V0.25H3.875V1H4.625ZM4.625 116L8.95513 108.5H0.294872L4.625 116ZM31.625 0.25H4.625V1.75H31.625V0.25ZM3.875 1L3.875 109.25H5.375L5.375 1H3.875Z" fill="#80007F"/>
                    </svg>

                    <div class="p-4 font-[Gilroy-semibold] mt-2.5 text-lg rounded-[5px] w-[7.75rem] text-center chartTitleBg">
                        Umumiy dasturlash teoriyasi
                    </div>

                    <svg class="translate-y-16" xmlns="http://www.w3.org/2000/svg" width="32" height="116" viewBox="0 0 32 116" fill="none">
                        <path d="M27.625 1V0.25H28.375V1H27.625ZM27.625 116L23.2949 108.5H31.9551L27.625 116ZM0.625 0.25H27.625V1.75H0.625L0.625 0.25ZM28.375 1L28.375 109.25H26.875L26.875 1H28.375Z" fill="#80007F"/>
                    </svg>
                </div>
                <svg class="left-1/2 -translate-x-1 absolute" xmlns="http://www.w3.org/2000/svg" width="10" height="526" viewBox="0 0 10 526" fill="none">
                    <path d="M4.99998 526L9.3301 518.5L0.66985 518.5L4.99998 526ZM4.25 -3.27835e-08L4.24998 519.25L5.74998 519.25L5.75 3.27835e-08L4.25 -3.27835e-08Z" fill="#80007F"/>
                </svg>

                <div class="flex gap-4 justify-center">
                    <div class="py-5 mt-14 bg-white rounded-[5px] w-40">
                        <div class="font-[Gilroy-semibold] min-h-[3rem] flex justify-center text-center items-center">
                            Full Stack Developer
                        </div>

                        <a href="#" class="py-2.5 rounded-[0.625rem] mt-2.5 h-[6.375rem] chartStepBg flex flex-col items-center justify-between">
                            <img src="@/svg/free-icon-letter-j-5379221%201.svg" alt="icon">
                            <div class="font-[Gilroy-semibold] text-center text-[0.875rem]">
                                Umumiy dasturlash teoriyasi
                            </div>
                        </a>

                        <svg class="mx-auto" xmlns="http://www.w3.org/2000/svg" width="9" height="30" viewBox="0 0 9 30" fill="none">
                            <path d="M4.625 30L8.95513 22.5L0.294872 22.5L4.625 30ZM3.875 -3.27835e-08L3.875 23.25L5.375 23.25L5.375 3.27835e-08L3.875 -3.27835e-08Z" fill="#80007F"/>
                        </svg>

                        <a href="#" class="py-2.5 rounded-[0.625rem] h-[6.375rem] chartStepBg flex flex-col items-center justify-between">
                            <img src="@/svg/free-icon-keyboard-key-m-30982%201.svg" alt="icon">
                            <div class="font-[Gilroy-semibold] text-center text-[0.875rem]">
                                Middle Full Stack Dasturlash
                            </div>
                        </a>
                        <svg class="mx-auto" xmlns="http://www.w3.org/2000/svg" width="9" height="30" viewBox="0 0 9 30" fill="none">
                            <path d="M4.625 30L8.95513 22.5L0.294872 22.5L4.625 30ZM3.875 -3.27835e-08L3.875 23.25L5.375 23.25L5.375 3.27835e-08L3.875 -3.27835e-08Z" fill="#80007F"/>
                        </svg>
                        <a href="#" class="py-2.5 rounded-[0.625rem] h-[6.375rem] chartStepBg flex flex-col items-center justify-between">
                            <img src="@/svg/free-icon-letter-p-3097071%201.svg" alt="icon">
                            <div class="font-[Gilroy-semibold] text-center text-[0.875rem]">
                                Praktikum
                            </div>
                        </a>
                    </div>

                    <div class="py-5 mt-14 bg-white rounded-[5px] w-40">
                        <div class="font-[Gilroy-semibold] min-h-[3rem] flex justify-center text-center items-center">
                            Full Stack Developer
                        </div>

                        <a class="py-2.5 rounded-[0.625rem] mt-2.5 h-[6.375rem] chartStepBg flex flex-col items-center justify-between">
                            <img src="@/svg/free-icon-letter-f-3097011%201.svg" alt="icon">
                            <div class="font-[Gilroy-semibold] text-center text-[0.875rem]">
                                Umumiy dasturlash teoriyasi
                            </div>
                        </a>

                        <svg class="mx-auto" xmlns="http://www.w3.org/2000/svg" width="9" height="30" viewBox="0 0 9 30" fill="none">
                            <path d="M4.625 30L8.95513 22.5L0.294872 22.5L4.625 30ZM3.875 -3.27835e-08L3.875 23.25L5.375 23.25L5.375 3.27835e-08L3.875 -3.27835e-08Z" fill="#80007F"/>
                        </svg>

                        <a class="py-2.5 rounded-[0.625rem] h-[6.375rem] chartStepBg flex flex-col items-center justify-between">
                            <img src="@/svg/free-icon-letter-p-3097071%201.svg" alt="icon">
                            <div class="font-[Gilroy-semibold] text-center text-[0.875rem]">
                                Praktikum
                            </div>
                        </a>
                    </div>
                </div>

                <div class="py-5 mx-auto mt-2.5 w-full max-w-[21rem] bg-white rounded-[5px]">
                    <div class="font-[Gilroy-semibold] text-center">
                        Testirovshik
                    </div>

                    <div class="flex mt-2.5">
                        <a class="py-2.5 rounded-[0.625rem] w-full h-[6.375rem] chartStepBg flex flex-col items-center justify-between">
                            <img src="@/svg/free-icon-letter-f-3097011%201.svg" alt="icon">
                            <div class="font-[Gilroy-semibold] text-center text-[0.875rem]">
                                Umumiy dasturlash teoriyasi
                            </div>
                        </a>

                        <svg class="my-auto" xmlns="http://www.w3.org/2000/svg" width="21" height="10" viewBox="0 0 21 10" fill="none">
                            <path d="M20.125 5L12.625 0.669873L12.625 9.33013L20.125 5ZM0.125 5.75L13.375 5.75V4.25L0.125 4.25L0.125 5.75Z" fill="#80007F"/>
                        </svg>

                        <a class="py-2.5 rounded-[0.625rem] w-full h-[6.375rem] chartStepBg flex flex-col items-center justify-between">
                            <img src="@/svg/free-icon-letter-p-3097071%201.svg" alt="icon">
                            <div class="font-[Gilroy-semibold] text-center text-[0.875rem]">
                                Praktikum
                            </div>
                        </a>
                    </div>
                </div>
            </section>
            <section class="pt-12 hidden xl:mb-20 lg:flex flex-col w-[1254px] justify-center mx-auto xl:translate-x-0 -translate-x-40 scale-75 2xl:scale-100">
                <div class="flex items-center">
                    <a href="#" class="py-2.5 lg:p-5 shadow-xl flex items-center bg-white rounded-[0.625rem] gap-2.5 w-40 lg:w-fit">
                        <div class="w-[1.875rem] mx-auto bg-purple_arrows_bg rounded-[5px] p-[5px] h-[1.875rem]">
                            <img class="w-full" src="@/svg/tag-icon-arrows.svg" alt="arrows">
                        </div>
                        <div class="font-[Gilroy-semibold] max-w-[15rem] text-center lg:text-start text-[0.875rem] lg:text-lg">
                            Umumiy dasturlash teoriyasi
                        </div>
                    </a>

                    <svg xmlns="http://www.w3.org/2000/svg" width="89" height="12" viewBox="0 0 89 12" fill="none">
                        <path d="M89 5.99999L79 0.22649L79 11.7735L89 5.99999ZM8.74228e-08 7L80 6.99999L80 4.99999L-8.74228e-08 5L8.74228e-08 7Z" fill="#80007F"/>
                    </svg>

                    <div class="p-[3.125rem] rounded-[0.625rem] bg-white">
                        <div class="flex items-center">
                            <a href="#" class="p-5 flex rounded-[0.625rem] gap-2.5 chartStepBg">
                                <img src="@/svg/free-icon-letter-j-5379221%201.svg" alt="icon">
                                <div class="font-[Gilroy-semibold] w-40 text-lg">
                                    Junior Full Stack Dasturlash
                                </div>
                            </a>
                            <svg xmlns="http://www.w3.org/2000/svg" width="54" height="12" viewBox="0 0 54 12" fill="none">
                                <path d="M54 6L44 0.226493L44 11.7735L54 6ZM8.74228e-08 7L45 7L45 5L-8.74228e-08 5L8.74228e-08 7Z" fill="#80007F"/>
                            </svg>
                            <a href="#" class="p-5 flex rounded-[0.625rem] gap-2.5 chartStepBg">
                                <img src="@/svg/free-icon-keyboard-key-m-30982%201.svg" alt="icon">
                                <div class="font-[Gilroy-semibold] w-40 text-lg">
                                    Middle Full Stack Dasturlash
                                </div>
                            </a>
                            <svg xmlns="http://www.w3.org/2000/svg" width="54" height="12" viewBox="0 0 54 12" fill="none">
                                <path d="M54 6L44 0.226493L44 11.7735L54 6ZM8.74228e-08 7L45 7L45 5L-8.74228e-08 5L8.74228e-08 7Z" fill="#80007F"/>
                            </svg>
                            <a href="#" class="p-5 flex rounded-[0.625rem] gap-2.5 chartStepBg">
                                <img src="@/svg/free-icon-letter-p-3097071%201.svg" alt="icon">
                                <div class="font-[Gilroy-semibold] w-40 text-lg">
                                    Praktikum
                                </div>
                            </a>
                        </div>
                        <div class="font-[Gilroy-semibold] text-center mt-5 text-[1.25rem]">Full Stack Developer</div>
                    </div>
                </div>
                <div class="flex">
                    <svg class="-translate-y-[4.7rem] translate-x-16" xmlns="http://www.w3.org/2000/svg" width="12" height="140" viewBox="0 0 12 140" fill="none">
                        <path d="M5.99999 140L11.7735 130L0.226491 130L5.99999 140ZM5 -4.37114e-08L4.99999 131L6.99999 131L7 4.37114e-08L5 -4.37114e-08Z" fill="#80007F"/>
                    </svg>
                    <svg class="-translate-y-[4.7rem] translate-x-36" xmlns="http://www.w3.org/2000/svg" width="880" height="140" viewBox="0 0 880 140" fill="none">
                        <path d="M0.999995 107.156L-4.68396e-06 107.156L-4.72767e-06 108.156L0.999995 108.156L0.999995 107.156ZM874 107.156L875 107.156L875 106.156L874 106.156L874 107.156ZM874 140L879.773 130L868.226 130L874 140ZM0 -3.82038e-05L-4.68396e-06 107.156L2 107.156L2 -3.81163e-05L0 -3.82038e-05ZM0.999995 108.156L874 108.156L874 106.156L0.999995 106.156L0.999995 108.156ZM873 107.156L873 131L875 131L875 107.156L873 107.156Z" fill="#80007F"/>
                    </svg>
                </div>

                <div class="flex -translate-y-[4.6rem] gap-5">
                    <div class="p-[3.125rem] rounded-[0.625rem] bg-white">
                        <div class="flex items-center">
                            <a href="#" class="p-5 flex rounded-[0.625rem] gap-2.5 chartStepBg">
                                <img src="@/svg/free-icon-letter-j-5379221%201.svg" alt="icon">
                                <div class="font-[Gilroy-semibold] w-40 text-lg">
                                    Junior Full Stack Dasturlash
                                </div>
                            </a>
                            <svg xmlns="http://www.w3.org/2000/svg" width="54" height="12" viewBox="0 0 54 12" fill="none">
                                <path d="M54 6L44 0.226493L44 11.7735L54 6ZM8.74228e-08 7L45 7L45 5L-8.74228e-08 5L8.74228e-08 7Z" fill="#80007F"/>
                            </svg>
                            <a href="#" class="p-5 flex rounded-[0.625rem] gap-2.5 chartStepBg">
                                <img src="@/svg/free-icon-letter-p-3097071%201.svg" alt="icon">
                                <div class="font-[Gilroy-semibold] w-40 text-lg">
                                    Praktikum
                                </div>
                            </a>
                        </div>
                        <div class="font-[Gilroy-semibold] text-center mt-5 text-[1.25rem]">Full Stack Developer</div>
                    </div>
                    <div class="p-[3.125rem] rounded-[0.625rem] bg-white">
                        <div class="flex items-center">
                            <a href="#" class="p-5 flex rounded-[0.625rem] gap-2.5 chartStepBg">
                                <img src="@/svg/free-icon-letter-j-5379221%201.svg" alt="icon">
                                <div class="font-[Gilroy-semibold] w-40 text-lg">
                                    Junior Full Stack Dasturlash
                                </div>
                            </a>
                            <svg xmlns="http://www.w3.org/2000/svg" width="54" height="12" viewBox="0 0 54 12" fill="none">
                                <path d="M54 6L44 0.226493L44 11.7735L54 6ZM8.74228e-08 7L45 7L45 5L-8.74228e-08 5L8.74228e-08 7Z" fill="#80007F"/>
                            </svg>
                            <a href="#" class="p-5 flex rounded-[0.625rem] gap-2.5 chartStepBg">
                                <img src="@/svg/free-icon-letter-p-3097071%201.svg" alt="icon">
                                <div class="font-[Gilroy-semibold] w-40 text-lg">
                                    Praktikum
                                </div>
                            </a>
                        </div>
                        <div class="font-[Gilroy-semibold] text-center mt-5 text-[1.25rem]">Full Stack Developer</div>
                    </div>
                </div>

            </section>
            <!-- Course Steps end -->
        </div>

        <div class="bg-white py-[3.125rem] lg:py-[6.25rem]">
            <div class="flex flex-col gap-2.5 lg:gap-0">
                <HeadingTitleComponent>Kurs amaliyotida bajarilgan ishlar</HeadingTitleComponent>
                <SubheadingTitleComponent>Har bir kurs vaqtida o’quvchilar bajargan amaliyot ishlari</SubheadingTitleComponent>
            </div>

            <!-- Practice projects start -->
            <section class="mt-[3.125rem]">
                <div class="scroller overflow-hidden" data-direction="right">
                    <div class="scrollerInner py-2.5 w-max flex flex-nowrap gap-2.5 lg:gap-[1.875rem]">
                        <a
                            v-for="(practiseProject, index) in practiseProjects"
                            :key="index"
                            href="#"
                            class="innerLink rounded-[0.625rem]"
                            @mouseover="pauseAnimation('add', 0)"
                            @mouseout="pauseAnimation('remove', 0)"
                        >
                            <img class="w-[17.5rem] rounded-[0.625rem] lg:w-[36.25rem] h-[11.5rem] lg:h-[23.75rem] object-cover" :src="practiseProject.image" alt="Project">
                        </a>
                    </div>
                </div>

                <div class="scroller overflow-hidden" data-direction="left">
                    <div class="scrollerInner py-2.5 w-max flex flex-nowrap gap-2.5 lg:gap-[1.875rem]">
                        <a
                            v-for="(practiseProject, index) in practiseProjects"
                            :key="index"
                            href="#"
                            class="innerLink  rounded-[0.625rem]"
                            @mouseover="pauseAnimation('add', 1)"
                            @mouseout="pauseAnimation('remove', 1)"
                        >
                            <img class="w-[17.5rem] rounded-[0.625rem] lg:w-[36.25rem] h-[11.5rem] lg:h-[23.75rem] object-cover" :src="practiseProject.image" alt="Project">
                        </a>
                    </div>
                </div>
            </section>
            <!-- Practice projects end -->
        </div>

        <div class="py-[6.25rem] lg:py-[9.375rem]">
            <div class="flex flex-col gap-2.5 lg:gap-0">
                <HeadingTitleComponent>O’quvchilarimizni kurs haqidagi fikri</HeadingTitleComponent>
                <SubheadingTitleComponent>Har bir kurs vaqtida o’quvchilar bajargan amaliyot ishlari</SubheadingTitleComponent>
            </div>

            <!-- Comments start -->
            <section class="mt-[1.875rem] lg:mt-[3.125rem]">
                <div ref="commentListRefs" class="flex flex-nowrap overflow-x-hidden gap-2.5 lg:gap-[1.875rem]">
                    <div
                        v-for="(comment, index) in commentsListLoop"
                        :key="index"
                        class="p-5 lg:p-[1.875rem] flex-none w-[16rem] h-[15.375rem] lg:h-[27.875rem] lg:w-[28.75rem] rounded-[0.625rem] bg-white"
                    >
                        <div class="flex">
                            <img class="w-10 h-10 lg:w-[5.5rem] lg:h-[5.5rem] object-cover mr-4 rounded-full" :src="comment.img" alt="Avatar">
                            <div class="flex flex-col justify-evenly">
                                <div class="font-[Gilroy-semibold] lg:text-[1.625rem]">{{ comment.name }}</div>
                                <div class="text-sm lg:text-[1.375rem] opacity-30">{{ comment.level }}</div>
                            </div>
                        </div>
                        <p class="text-sm h-[75%] text-ellipsis overflow-y-hidden lg:text-[1.375rem]/[2.5rem] mt-2.5 lg:mt-[1.625rem]">{{ comment.commentText }}</p>
                    </div>
                </div>
                <div class="flex mt-5 justify-center lg:mt-[1.875rem] gap-2.5 lg:gap-[1.875rem]">
                    <button @click="scrollComment('left')" class="w-6 lg:w-[3.125rem]">
                        <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                            <path d="M10.4163 25.0003L39.583 25.0003" stroke="#591958" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M20.833 14.5833L10.4163 25" stroke="#591958" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M20.833 35.417L10.4163 25.0003" stroke="#591958" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                    <button @click="scrollComment('right')" class="w-6 lg:w-[3.125rem]">
                        <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                            <path d="M39.5837 24.9997H10.417" stroke="#591958" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M29.167 35.4167L39.5837 25" stroke="#591958" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M29.167 14.583L39.5837 24.9997" stroke="#591958" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
            </section>
            <!-- Comments end -->
        </div>
    </div>
    <FooterComponent/>
</template>



<script setup>
import ButtonComponent from "@/components/ButtonComponent.vue";
import HeadingTitleComponent from "@/components/HeadingTitleComponent.vue";
import SubheadingTitleComponent from "@/components/SubheadingTitleComponent.vue";
import {onBeforeMount, onMounted, reactive, ref,} from "vue";
import SkillCardComponent from "@/components/SkillCardComponent.vue";
import HeaderComponent from "@/components/HeaderComponent.vue";
import FooterComponent from "@/components/FooterComponent.vue";
import htmlImg from '../svg/Property 1=HTML.svg'
import phpImg from '../svg/Property 1=php.svg'
import bootstrapImg from '../svg/Property 1=bootstrap.svg'
import cssImg from '../svg/Property 1=css.svg'
import githubImg from '../svg/Property 1=github.svg'
import jsImg from '../svg/Property 1=js.svg'
import avatarImg1 from '../svg/avatar-1.jpeg'
import avatarImg2 from '../svg/avatar-2.jpeg'
import avatarImg3 from '../svg/avatar-3.jpeg'
import avatarImg4 from '../svg/avatar-4.jpeg'
import portfolioImg1 from '../svg/Screenshot_21 1.svg'
import portfolioImg2 from '../svg/Screenshot_22 1.svg'
import portfolioImg3 from '../svg/Screenshot_23 1.svg'
import portfolioImg4 from '../svg/Screenshot_24 1.svg'
import portfolioImg5 from '../svg/Screenshot_25 1.svg'
import portfolioImg6 from '../svg/Screenshot_26 1.svg'
import portfolioImg7 from '../svg/Screenshot_27 1.svg'
import portfolioImg8 from '../svg/Screenshot_28 1.svg'

const courseLinks = reactive([
    {title: 'Junior Full Stack Developer'},
    {title: 'Middle Full Stack Developer'},
    {title: 'Bepul kurs'},
    {title: 'Testirovshik kursi'}
])
const skills = reactive([
    {name: 'HTML', icon: htmlImg},
    {name: 'Bootstrap', icon: bootstrapImg},
    {name: 'PHP', icon: phpImg},
    {name: 'CSS', icon: cssImg},
    {name: 'Git', icon: githubImg},
    {name: 'JavaScript', icon: jsImg},
    {name: 'HTML', icon: htmlImg},
    {name: 'Bootstrap', icon: bootstrapImg},
    {name: 'PHP', icon: phpImg},
    {name: 'CSS', icon: cssImg},
    {name: 'Git', icon: githubImg},
    {name: 'JavaScript', icon: jsImg},
])
const comments = reactive([
    {name: 'Eshonov Baxodir', level: 'Junior Developer', img: avatarImg1, commentText: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."},
    {name: 'Antonella', level: 'Middle Developer', img: avatarImg2, commentText: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever "},
    {name: 'Nikolay Nikolayev', level: 'Middle Developer', img: avatarImg3, commentText: "er took a galley of type and scrambled it to make a type specimen book."},
    {name: 'Eshonov Baxodir', level: 'Junior Developer', img: avatarImg4, commentText: "um has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."},
    {name: 'Eshonov Baxodir', level: 'Junior Developer', img: avatarImg1, commentText: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."},
    {name: 'Antonella', level: 'Middle Developer', img: avatarImg2, commentText: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever "},
    {name: 'Nikolay Nikolayev', level: 'Middle Developer', img: avatarImg3, commentText: "er took a galley of type and scrambled it to make a type specimen book."},
    {name: 'Eshonov Baxodir', level: 'Junior Developer', img: avatarImg4, commentText: "um has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."},

])
const practiseProjects = reactive([
    {image: portfolioImg1},
    {image: portfolioImg2},
    {image: portfolioImg3},
    {image: portfolioImg4},
    {image: portfolioImg5},
    {image: portfolioImg6},
    {image: portfolioImg7},
    {image: portfolioImg8},
])
const commentsListLoop = ref([])
const activeTab = ref(0)
const tabListRef = ref(null)
const isDisableRight = ref(false)
const isDisableLeft = ref(false)
const commentListRefs = ref(null)

const changeTab = (index) => {
    const activeTabValue = activeTab.value
    activeTab.value = index
    if(activeTabValue > index) {
        scrollTabMenu('left')
        isDisableRight.value = false
    } else if(activeTabValue < index) {
        scrollTabMenu('right')
        isDisableLeft.value = false
    }
}
const scrollTabMenu = (direction) => {
    if (tabListRef.value) {
        const tabWidth = tabListRef.value.children[0].offsetWidth;
        const scrollLeft = tabListRef.value.scrollLeft;

        tabListRef.value.scrollTo({
            left: direction === 'left' ? scrollLeft - tabWidth : scrollLeft + tabWidth,
            behavior: 'smooth',
        });

        disableButton();

        if(direction === 'right' && isDisableLeft.value === true) {
            isDisableLeft.value = false
        } else if(direction === 'left' && isDisableRight.value === true) {
            isDisableRight.value = false
        }
    }
}
const disableButton = () => {
    if(tabListRef.value) {
        const scrollWidth = tabListRef.value.scrollWidth
        const offsetWidth = tabListRef.value.offsetWidth
        const scrollLeft = tabListRef.value.scrollLeft

        if (scrollLeft === 0) {
            isDisableLeft.value = true
        } else if(scrollLeft >= (scrollWidth - offsetWidth) * 0.95) {
            isDisableRight.value = true
        }
    }
}

const scrollComment = (direction) => {
    if(commentListRefs.value) {
        const commentCardWidth = commentListRefs.value.children[0].offsetWidth + (screen.width < 976 ? 10 : 30)
        const scrollLeft = commentListRefs.value.scrollLeft
        const scrollWidth = commentListRefs.value.scrollWidth

        if(commentListRefs.value) {
            commentListRefs.value.scrollTo({
                left: direction === 'left' ? scrollLeft - commentCardWidth : scrollLeft + commentCardWidth,
                behavior: 'smooth'
            })
        }

        if(scrollLeft > scrollWidth * 0.78) {
            setTimeout(() => {
                commentListRefs.value.scrollTo({
                    left: scrollWidth / 2
                })
            }, 500)
        } else if(scrollLeft < scrollWidth * 0.22) {
            setTimeout(() => {
                commentListRefs.value.scrollTo({
                    left: scrollWidth / 2
                })
            }, 500)
        }
    }

}

const addEvents = (duplicatedItem, index) => {
    duplicatedItem.setAttribute("aria-hidden", true);
    duplicatedItem.addEventListener('mouseover', () => {
        pauseAnimation('add', index);
    });
    duplicatedItem.addEventListener('mouseout', () => {
        pauseAnimation('remove', index);
    });
};

const addAnimation = function() {
    const scrollers = document.querySelectorAll('.scroller')

    scrollers.forEach((scroller, index) => {
        const scrollerInner = scroller.querySelector('.scrollerInner');
        const scrollerContent = Array.from(scrollerInner.children);

        scrollerContent.forEach((item) => {
            const duplicatedItem = item.cloneNode(true);
            addEvents(duplicatedItem, index);
            scrollerInner.appendChild(duplicatedItem);
        });
    });
}

const pauseAnimation = (action, order) => {

    const scrollerInner = document.querySelectorAll('.scrollerInner')
    action === 'add' ? scrollerInner[order].classList.add('pausedAnimation') : scrollerInner[order].classList.remove('pausedAnimation')
}

onBeforeMount(() => {
    commentsListLoop.value = [...comments, ...comments, ...comments]
})
onMounted(() => {
    commentListRefs.value.scrollTo({
        left: commentListRefs.value.scrollWidth / 2
    })
    setInterval(() => {
        scrollComment('right')
    }, 2000)

    addAnimation();
    disableButton();
})
</script>

<style scoped>
.activeTabBg {
    background: linear-gradient(180deg, rgba(164, 33, 210, 0.00) 54.52%, rgba(164, 33, 210, 0.10) 100%);
}
.chartTitleBg {
    background: linear-gradient(180deg, #FFF 0%, #E0E0E0 100%);
}
.chartStepBg {
    background: linear-gradient(180deg, #FFF 0%, #EFE8FF 100%);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.10);
}
.courseTitles::-webkit-scrollbar {
    display: none;
}
.courseTitles {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scroller .scrollerInner {
    animation: scroll 70s var(--_animation-direction, forwards) linear infinite;
}
.pausedAnimation {
    animation-play-state: paused !important;
}
.innerLink {
    transition: ease-in-out 200ms;
}
.innerLink:hover {
    transform: scale(1.05);
}
.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}
.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}
</style>
