<template>
    <HeaderComponent/>
    <div class="bg-main_bg">
        <div class="sm:container px-5 h-fit">
            <div ref="wrapper" class="overflow-hidden lg:h-fit scroll-smooth">
                <div class="flex lg:flex-none lg:grid lg:grid-cols-12 lg:gap-[1.875rem]">
                    <div
                            ref="sidebar"
                            class="col-span-6 lg:col-span-5 xl:col-span-4 2xl:col-span-3 transition-all duration-200"
                            :class="{'w-0 h-0 scale-0': isHideSidebar && isFoo, 'w-full scale-1': isHideSidebar && !isFoo}"
                    >
                        <SidebarComponent @hide-sidebar="moveToRight" class="mb-[6.25rem] mt-[1.875rem] lg:mt-0"/>
                    </div>
                    <div
                            class="lg:w-full col-span-6 lg:col-span-7 xl:col-span-8 2xl:col-span-9 pt-8 lg:pt-[7.5rem] transition-all duration-200"
                            :class="{'w-0 scale-0 h-0': isHideSidebar && !isFoo, 'w-full scale-1 h-fit': isFoo}"
                    >
                        <router-view @toBack="moveToLeft"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <FooterComponent/>
</template>

<script setup>
import SidebarComponent from "@/components/SidebarComponent.vue";
import {onBeforeMount, onUnmounted, ref} from "vue";
import FooterComponent from "@/components/FooterComponent.vue";
import HeaderComponent from "@/components/HeaderComponent.vue";

const isHideSidebar = ref(false)
const isFoo = ref(false)

const moveToLeft = () => {
    isFoo.value = false
}
const moveToRight = () => {
    isFoo.value = true
}
const reload = () => {
    isHideSidebar.value = window.innerWidth < 1024;
    if (window.innerWidth > 1024) {
        isFoo.value = false
    }
}

onBeforeMount(() => {
    window.addEventListener("resize", reload);
    isHideSidebar.value = window.innerWidth < 1024
})
onUnmounted(() => {
    window.removeEventListener("resize", reload);
})

</script>

<style scoped>
</style>