<template>
    <div class="bg-auth_bg min-h-screen">
        <div class="container flex relative justify-center pt-2.5 pb-10 md:py-[5.75rem] md:px-0 min-h-screen">
            <div class="absolute left-0 sm:left-20 md:left-0 ">
                <BackButtonComponent @click="back"/>
            </div>
            <div class="flex flex-col gap-[1.875rem] w-[25rem] relative my-auto">
                <div class="hidden md:flex justify-center mb-5 md:mb-2.5">
                    <MainLogoComponent variant="authLogo"/>
                </div>
                <div class="md:hidden flex justify-center -mb-2.5">
                    <MainLogoComponent variant="sm:authLogo"/>
                </div>
                <p class="text-black font-[Gilroy-semibold] text-2xl md:text-[1.875rem] leading-normal text-center">
                    Parolni tiklash</p>

                <InputComponent
                        label="Email"
                        :is-email="true"
                        v-model="email"
                        placeholder="user@example.com..."
                        :valid="true"
                        :reg-exp="/^[a-z.]+\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w+)+$/"
                        err-valid-text="Email xato kiritildi!"
                />
                <p class="text-base md:text-xl">Profilim mavjud?
                    <router-link to="sign-in"><span class="text-main_color">Kirish</span></router-link>
                </p>

                <router-link to="/confirm-by-code">
                    <ButtonComponent class="py-4" :variant="email.length ? 'primary' : 'gray-blue'">Davom etish
                    </ButtonComponent>
                </router-link>
            </div>

        </div>
    </div>
</template>

<script setup>
import ButtonComponent from "@/components/ButtonComponent.vue";
import BackButtonComponent from "@/components/BackButtonComponent.vue";
import MainLogoComponent from "@/components/MainLogoComponent.vue";
import {ref} from "vue";
import InputComponent from "@/components/inputs/InputComponent.vue";
import useBack from "@/hooks/useBack.js";

const email = ref('')
const {back} = useBack()
</script>

<style scoped>

</style>