<template>
    <div class="bg-auth_bg min-h-screen">
        <div class="container flex relative justify-center pt-2.5 pb-10 md:py-[5.75rem] md:px-0">
            <div class="absolute left-0 hidden md:block">
                <BackButtonComponent/>
            </div>
            <div class="flex flex-col gap-[1.875rem] w-[30rem] relative">
                <div class="hidden md:flex justify-center mb-5 md:mb-2.5">
                    <MainLogoComponent variant="authLogo"/>
                </div>
                <div class="md:hidden flex justify-center -mb-2.5">
                    <div class=" absolute -left-1 top-2">
                        <BackButtonComponent/>
                    </div>
                    <MainLogoComponent variant="sm:authLogo"/>
                </div>
                <p class="text-black font-[Gilroy-semibold] text-2xl md:text-[1.875rem] leading-normal text-center">Ro’yhatdan o’tish</p>
                <InputComponent
                        label="Ism"
                        v-model="form.name"
                        placeholder="Ismingizni kiriting..."
                        :valid="true"
                        :reg-exp="/^[A-z']{3,}/"
                        err-valid-text="Ism kamida 3ta harfdan iborat bo'lishi kerak!"
                />
                <InputComponent
                        label="Familiya"
                        v-model="form.lastName"
                        placeholder="Ismingizni kiriting..."
                        :valid="true"
                        :reg-exp="/^[A-z']{3,}/"
                        err-valid-text="Familiya kamida 3ta harfdan iborat bo'lishi kerak!"
                />
                <DatePickerInput
                        label="Tug'ilgan sana"
                        v-model="form.birthDay"
                        placeholder="01-01-1990"
                        :valid="true"
                        err-valid-text="No'to'g'ri sana kiritildi!"
                />
                <PhoneInputComponent :valid="true" label="Telefon" placeholder="+998 (__) ___-__-__" v-model="form.phone"/>
                <InputComponent
                        label="Email"
                        :is-email="true"
                        v-model="form.email"
                        placeholder="user@example.com..."
                        :valid="true"
                        :reg-exp="/^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$/"
                        err-valid-text="Email xato kiritildi!"
                />
                <PasswordInputComponent
                        variant="password"
                        label="Parol"
                        v-model="form.password"
                        placeholder="Yangi parol kiriting..."
                        :valid="true"
                        :reg-exp="/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$/"
                        err-valid-text="Parol kamida 6ta belgidan, katta va kichik harflardan raqam va maxsus belgi(!@#$%^&*)lardan iborat bo'lishi kerak!"
                />
                <PasswordInputComponent
                        variant="password"
                        label="Parol"
                        v-model="form.repeatPassword"
                        placeholder="Yangi parol kiriting..."
                        :valid="true"
                        :confirm-model-value="form.password"
                        :reg-exp="/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$/"
                        err-valid-text="Parollaringiz bir biriga mos kelishi kerak!"
                />
                <div class="mt-5 lg:mt-[1.875rem] flex items-center">
                    <CheckboxComponent/>
                    <div class="lg:text-xl pl-2">Ommaviy
                        <router-link to="/offers"><span class="text-main_color">offertani</span></router-link>
                        qabul qilaman
                    </div>
                </div>
                <p class="text-base md:text-xl">Profilim mavjud?
                    <router-link to="sign-in"><span class="text-main_color">Kirish</span></router-link>
                </p>
                <ButtonComponent class="py-4">Davom etish</ButtonComponent>
            </div>

        </div>
    </div>
</template>

<script setup>
import InputComponent from "@/components/inputs/InputComponent.vue";
import PhoneInputComponent from "@/components/inputs/PhoneInputComponent.vue";
import {reactive} from "vue";
import PasswordInputComponent from "@/components/inputs/PasswordInputComponent.vue";
import DatePickerInput from "@/components/inputs/DateInputComponent.vue";
import BackButtonComponent from "@/components/BackButtonComponent.vue";
import MainLogoComponent from "@/components/MainLogoComponent.vue";
import ButtonComponent from "@/components/ButtonComponent.vue";
import CheckboxComponent from "@/components/CheckboxComponent.vue";

const form = reactive({
    name: '',
    lastName: '',
    birthDay: '',
    phone: '',
    email: '',
    password: '',
    repeatPassword: ''
})
</script>

<style scoped>

</style>