<template>
    <div class="bg-auth_bg min-h-screen">
        <div class="container flex relative justify-center pt-2.5 pb-10 md:py-[5.75rem] md:px-0 min-h-screen">
            <div class="absolute left-0 sm:left-20 md:left-0 ">
                <BackButtonComponent @click="back"/>
            </div>
            <div class="flex flex-col gap-[1.875rem] w-[25rem] relative my-auto">
                <div class="hidden md:flex justify-center mb-5 md:mb-2.5">
                    <MainLogoComponent variant="authLogo"/>
                </div>
                <div class="md:hidden flex justify-center -mb-2.5">
                    <MainLogoComponent variant="sm:authLogo"/>
                </div>
                <p class="text-black font-[Gilroy-semibold] text-2xl md:text-[1.875rem] leading-normal text-center">
                    Profilga kirish</p>

                <InputComponent
                    label="Email"
                    :is-email="true"
                    v-model="form.email"
                    placeholder="user@example.com..."
                    :valid="true"
                    :reg-exp="/^[a-z.]+\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w+)+$/"
                    err-valid-text="Email xato kiritildi!"
                />
                <PasswordInputComponent
                    variant="password"
                    label="Parol"
                    v-model="form.password"
                    placeholder="Yangi parol kiriting..."
                    :valid="true"
                    :reg-exp="/^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$/"
                    err-valid-text="Parol kamida 6ta belgidan, katta va kichik harflardan raqam va maxsus belgi(!@#$%^&*)lardan iborat bo'lishi kerak!"
                />
                <p class="text-base md:text-xl">Profil mavjud emas?
                    <router-link to="sign-up"><span class="text-main_color">Yaratish</span></router-link>
                </p>

                <router-link to="recover-password"><div class="text-main_color lg:text-xl">Parolni unutdim</div></router-link>

                <ButtonComponent class="py-4">Davom etish</ButtonComponent>
            </div>

        </div>
    </div>
</template>

<script setup>
import ButtonComponent from "@/components/ButtonComponent.vue";
import BackButtonComponent from "@/components/BackButtonComponent.vue";
import MainLogoComponent from "@/components/MainLogoComponent.vue";
import {reactive} from "vue";
import InputComponent from "@/components/inputs/InputComponent.vue";
import useBack from "@/hooks/useBack.js";
import PasswordInputComponent from "@/components/inputs/PasswordInputComponent.vue";

const {back} = useBack()

const form = reactive({
    email: '',
    password: '',
})
</script>

<style scoped>

</style>