<template>
    <div class="hidden xl:ml-[1.875rem] xl:mt-8 xl:flex justify-center items-center flex-none h-[443px] w-[337px] text-white rounded-xl  text-2xl ">
        <div class="relative z-10">
            <img src="../svg/AdComponent.svg" alt="">
            <div class="absolute z-20 top-6 left-6">
                <ButtonComponent class="md:py-0.5 md:text-xl px-7" variant="blue">Reklama</ButtonComponent>
            </div>
            <div class="absolute z-30 bottom-[7rem] left-6">
                <p>
                    Noyabir Oyiga Junior Developer nabori ochildi
                </p>
                <p class="text-base">
                    Hoziroq o'z joyingizni egallab oling
                </p>
            </div>
            <div class="absolute z-40 bottom-[2rem] left-6 ">
                <a href="/" class="text-base underline hover:text-main_color">Batafsil -></a>
            </div>
        </div>
    </div>
</template>

<script setup>

import ButtonComponent from "@/components/ButtonComponent.vue";
</script>

<style scoped>

</style>