<template>
    <div class="flex gap-[10px] lg:gap-[1.875rem] p-2.5 lg:p-5 bg-white rounded-[20px]">
        <div class="h-[3.125rem] lg:h-full my-auto">
            <img class="h-full" :src="'/src/svg/' + props.courseInfos.img" alt="my-course-image">
        </div>
        <div class="flex flex-col">
            <div class="mb-[5px] lg:mb-4 w-fit bg-[#4791FF] flex items-center justify-center text-white text-[10px] lg:text-lg leading-[1.1125rem] lg:leading-[2.0025rem] px-[18px] py-0.5 rounded-[5px] pt-1">
                {{ props.courseInfos.startsAt }}
            </div>
            <div class="text-sm	lg:text-2xl leading-[1.3125rem] lg:leading-[2.67rem] font-[Gilroy-semibold]">
                {{ props.courseInfos.title }}
            </div>
            <div class="flex lg:flex-col mt-auto">
                <div class="text-[10px] lg:text-xl leading-[1.1125rem] lg:leading-[2.225rem] mt-0 mb-[5px] lg:mb-4">{{ props.courseInfos.info }}</div>
                <div class="flex gap-4">
                    <p class="text-[#4791FF] text-[10px] lg:text-xl leading-[1.1125rem] lg:leading-[2.225rem]">{{ props.courseInfos.nimadir[0] }}</p>
                    <p class="text-[10px] lg:text-xl leading-[1.1125rem] lg:leading-[2.225rem]">{{ props.courseInfos.nimadir[1] }}</p>
                </div>
            </div>
        </div>
        <div class="flex items-center ml-auto">
            <router-link to="/profile/another-flow/info-course">
                <svg class="hidden lg:block" xmlns="http://www.w3.org/2000/svg" width="40" height="41" viewBox="0 0 40 41" fill="none">
                    <path d="M31.6668 20.5H8.3335" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"/>
                    <path d="M23.3335 28.8333L31.6668 20.5" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"/>
                    <path d="M23.3335 12.1666L31.6668 20.5" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"/>
                </svg>
                <svg class="lg:hidden" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path d="M12.6668 7.99996H3.3335" stroke="#1A1A1A" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M9.3335 11.3333L12.6668 8" stroke="#1A1A1A" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M9.3335 4.66663L12.6668 7.99996" stroke="#1A1A1A" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </router-link>
        </div>
    </div>
</template>

<script setup>
const props = defineProps({
        courseInfos: {
            type: Object,
            required: true
        }
    })


</script>

<style scoped>

</style>