<template>
    <div ref="height" class="flex flex-col gap-5">
        <div @click="back"
             class="flex items-center lg:hidden lg:mt-[1.875rem] cursor-pointer hover:opacity-50 transition-all duration-200">
            <svg class="lg:hidden" width="16" height="17" viewBox="0 0 16 17" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M12 1.5L5 8.5L12 15.5" stroke="#323232" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
            </svg>
            <div class="text-base ml-[5px] leading-4 text-gray_bg mt-1">Profil</div>
        </div>

        <h2 class="text-2xl leading-[1.625rem] lg:text-[2rem] lg:leading-[3.56rem] font-[Gilroy-semibold] text-black-lighter">
            Kurs haqida ma'lumot
        </h2>
        <router-link :to=" '/profile/another-flow'">
            <div class="hidden lg:block">
                <BackButtonComponent/>
            </div>
        </router-link>
        <section class="pt-[0.5rem] flex flex-col xl:flex-row">
            <div>
                <h1 class="text-xl lg:text-[1.5rem] font-[Gilroy-semibold]">Junior Full Stack Developer kursi</h1>
                <p class="lg:text-xl mt-1.5 lg:mt-[1rem]">
                    Endi dasturlashni o’rgangan odam junior dasturchi bo’ladi. Bu “kichik” dasturchi degani. Junior dasturchining ko’p hollarda tajribasi bo’lmaydi, chunki ular endi boshlagan bo’lishadi. Bu kursimizda siz 12ta programma orqali veb sayt yaratishni organasiz. O’zingiz uchun partfoliyo yaratishni organasiz. 5-6 oy davom etadigan bu kursimiz onlayn jonli tarzda bo’lib o’tadi.
                </p>
                <div class="grid grid-cols-2 sm:grid-cols-3  rounded-[0.625rem] lg:grid-cols-2 2xl:grid-cols-4 xl:bg-gray_blue xl:px-[3.75rem] xl:py-[1.875rem] gap-2.5 lg:gap-[1.875rem] mt-[1.875rem]">
                    <SkillCardComponent
                        v-for="(skill, index) in skills"
                        :key="index"
                        :skill="skill"
                    ></SkillCardComponent>
                </div>
            </div>
        </section>
        <div class="grid grid-cols xs:grid-cols-2 sm:grid-cols-2 md:grid-cols-2 mb-[1rem] xl:grid-cols-3 lg:mb-[5rem] lg:mt-[1rem]">
            <div>
                <ButtonComponent @click="openPopup" class="col-span-2">Shu Pottokga o'tish</ButtonComponent>
            </div>
        </div>
    </div>
</template>

<script setup>
import BackButtonComponent from "@/components/BackButtonComponent.vue";
import {useRouter} from "vue-router";
import {reactive, ref} from "vue";
import SkillCardComponent from "@/components/SkillCardComponent.vue";
import ButtonComponent from "@/components/ButtonComponent.vue";
import {useStore} from "vuex";

const router = useRouter()
const height = ref(null)

const store = useStore()
const back = () => {
    router.back()
}

const skills = reactive([
    {name: 'HTML', icon: '/src/svg/Property 1=HTML.svg'},
    {name: 'Bootstrap', icon: '/src/svg/Property 1=bootstrap.svg'},
    {name: 'PHP', icon: '/src/svg/Property 1=php.svg'},
    {name: 'CSS', icon: '/src/svg/Property 1=css.svg'},
    {name: 'Git', icon: '/src/svg/Property 1=github.svg'},
    {name: 'JavaScript', icon: '/src/svg/Property 1=js.svg'},
    {name: 'HTML', icon: '/src/svg/Property 1=HTML.svg'},
    {name: 'Bootstrap', icon: '/src/svg/Property 1=bootstrap.svg'},
    {name: 'PHP', icon: '/src/svg/Property 1=php.svg'},
    {name: 'CSS', icon: '/src/svg/Property 1=css.svg'},
    {name: 'Git', icon: '/src/svg/Property 1=github.svg'},
    {name: 'JavaScript', icon: '/src/svg/Property 1=js.svg'},
])
const openPopup = () => {
    store.commit('updatePopup',{name: 'application-accepted', value: true})
}


</script>

<style scoped>

</style>