<template>
    <div ref="height" class="flex flex-col gap-5">
        <div @click="back"
             class="flex items-center lg:hidden lg:mt-[1.875rem] cursor-pointer hover:opacity-50 transition-all duration-200">
            <svg class="lg:hidden" width="16" height="17" viewBox="0 0 16 17" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M12 1.5L5 8.5L12 15.5" stroke="#323232" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
            </svg>
            <div class="text-base ml-[5px] leading-4 text-gray_bg mt-1">Profil</div>
        </div>
        <router-link :to=" '/'">
            <div class="hidden lg:block">
                <BackButtonComponent/>
            </div>
        </router-link>
        <h3 class="text-xl leading-[1.625rem] lg:text-[1.5rem] lg:leading-[3rem] font-[Gilroy-semibold] text-black-lighter">
            Boshqa potoklar
        </h3>
        <div class="grid gap-[1.875rem] mb-10">
            <div v-for="myCourse of myCourses" :key="myCourse.id">
                <AllAnotherFlowCourses :course-infos="myCourse"/>
            </div>
        </div>
    </div>
</template>

<script setup>
import AllAnotherFlowCourses from "@/components/AllAnotherFlowCourses.vue";
import {reactive, ref} from "vue";
import BackButtonComponent from "@/components/BackButtonComponent.vue";


const emit = defineEmits(['toBack'])
const height = ref(null)
const back = () => {
    emit('toBack', height.value.clientHeight)
}

const myCourses = reactive([
    {
        id: 0,
        img: 'my-course1.svg',
        startsAt: 'Developer (Sentabr)',
        title: 'Boshlang’ish veb dasturchi: Junior Full Stack Developer',
        info: '4 oy - 48 dars - 4 praktika',
        nimadir: ['1 oktabr', '3 kun']
    },
    {
        id: 1,
        img: 'my-course2.svg',
        startsAt: 'Developer (Oktabr)',
        title: 'O’rta veb dasturchi: Middle Full Stack Developer ',
        info: '6 oy - 72 dars - 6 praktika',
        nimadir: ['1 sentabr', '7 kun']
    },
    {
        id: 2,
        img: 'my-course1.svg',
        startsAt: 'Developer (Noyabr)',
        title: 'Boshlang’ish veb dasturchi: Junior Full Stack Developer',
        info: '4 oy - 48 dars - 4 praktika',
        nimadir: ['1 oktabr', '3 kun']
    },
    {
        id: 3,
        img: 'my-course2.svg',
        startsAt: 'Developer (Dekabr)',
        title: 'O’rta veb dasturchi: Middle Full Stack Developer ',
        info: '6 oy - 72 dars - 6 praktika',
        nimadir: ['1 sentabr', '7 kun']
    }
])
</script>

<style scoped>

</style>