<template>
    <div class="flex items-center cursor-pointer">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19 8L12 15L19 22" stroke="#323232" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <div class="text-2xl text-gray_bg hidden md:block">Orqaga</div>
    </div>
</template>

<script setup>

</script>

<style scoped>

</style>