<template>
    <button :class="`${props.variant} ${props.size} whitespace-nowrap font-[Gilroy-semibold] py-2.5 lg:py-3 px-5`">
        <slot></slot>
    </button>
</template>

<script setup>
    const props = defineProps({
        variant: {
            type: String,
            default: 'primary'
        },
        size: {
            type: String,
        }
    })
</script>

<style scoped>
button {
    border-radius: 10px;
    width: 100%;
}
.primary {
    background: #80007F;
    border: 1px solid #80007F;
    color: #fff;
}

.primary:active {
    opacity: .5;
}

.white-bordered {
    border: 2px solid #80007F;
    color: #000;
}
.white-bordered:active {
    opacity: .5;
}
.white {
    background: transparent;
    color: #000;
}
.white:active {
    opacity: .5;
}
.white-gray {
    background: #F5F3F2;
    border: 1px solid #F5F3F2;
    color: #000;
}
.white-gray:active {
    opacity: .5;
}
.gray-blue {
    background: #A3B2BD;
    border: 1px solid #A3B2BD;
    color: #fff;
}
.gray-blue:active {
    opacity: .5;
}
.blue {
    background: #3EA2FF;
    border: 1px solid #3EA2FF;
    color: #fff;
}
.blue:active {
    background: #328bdd;
    border: 1px solid #328bdd;
}
.gray {
    background: #D4D4D4;
    border: 1px solid #D4D4D4;
    color: #fff;
}
.gray:active {
    opacity: .5;
}



</style>
