<template>
    <div ref="height" class="flex flex-col gap-5">
        <div @click="back" class="flex items-center lg:hidden lg:mt-[1.875rem] cursor-pointer hover:opacity-50 transition-all duration-200">
            <svg class="lg:hidden" width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 1.5L5 8.5L12 15.5" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <div class="text-base ml-[5px] leading-4 text-gray_bg mt-1">Orqaga</div>
        </div>
        <h2 class="text-2xl leading-[1.625rem] lg:text-[2rem] lg:leading-[3.56rem] font-[Gilroy-semibold] text-black-lighter">Komentariya</h2>
        <div>
            <p class="text-black-lighter text-sm lg:text-xl leading-[2.225rem] mb-0.5">Komentariya qoldiring</p>
            <textarea rows="10" class="w-full rounded-[10px] max-h-96 h-full resize-none outline-none border-2 border-white p-4 leading-5 text-[14xp] lg:text-base focus:border-black-lighter"></textarea>
        </div>
        <p class="lg:leading-[1.78rem] font-[Gilroy-medium] text-sm lg:text-base text-black-lighter">Har bir yozilgan komentariyaga 1 dan 10 gacha Coin beriladi</p>
        <div class="col-span-6 grid grid-cols-8 gap-4 lg:gap-5 lg:mt-2.5">
            <ButtonComponent
                    class="col-span-4 md:col-span-3 xl:col-span-2 lg:py-[0.6875rem] lg:leading-[2.4375rem] text-base lg:text-[1.375rem] mb-7"
                    variant="gray-blue">Bekor qilish
            </ButtonComponent>
            <ButtonComponent
                    @click="openPopup"
                    class="col-span-4 md:col-span-3 xl:col-span-2 lg:py-[0.6875rem] lg:leading-[2.4375rem] text-base lg:text-[1.375rem] mb-7">
                <div class="leading-[1.78rem]">
                    Yuborish
                </div>
            </ButtonComponent>
        </div>
    </div>
</template>

<script setup>
import ButtonComponent from "@/components/ButtonComponent.vue";
import {ref} from "vue";
import {useStore} from "vuex";

const store = useStore()
const emit = defineEmits(['toBack'])
const height = ref(null)
const back = () => {
    emit('toBack', height.value.clientHeight)
}
const openPopup = () => {
    store.commit('updatePopup',{name: 'comment-sent', value: true})
}
</script>

<style scoped>

</style>