<template>
    <footer class="bg-white mt-auto">
        <div class="sm:container px-5">
            <div class="py-[1.875rem] md:py-[3.125rem] lg:justify-between lg:grid-cols-none lg:flex lg:items-center grid grid-cols-2">
                <a class="hidden md:block">
                    <MainLogoComponent variant="footerLogo"/>
                </a>
                <a class="md:hidden">
                    <MainLogoComponent variant="sm:footerLogo"/>
                </a>

                <ul class="grid grid-rows-4 lg:grid-rows-2 lg:grid-cols-2 gap-y-2.5 lg:gap-y-[1.875rem] lg:gap-x-10 xl:gap-x-[6.25rem] row-span-2 lg:row-span-1 lg:max-w-[24.625rem] translate-x-4 lg:translate-x-0">
                    <li v-for="footerLink in footerLinks" :key="footerLink.name" class="md:text-lg hover:text-gray_hover duration-200 ease-in transition font-[Gilroy-semibold]">
                        <RouterLink :to="footerLink.url">{{ footerLink.name }}</RouterLink>
                    </li>
                </ul>

                <div class="flex flex-col gap-2.5 w-fit h-fit lg:flex-row-reverse mt-[1.875rem] lg:mt-0">
                    <ButtonComponent size="lg:text-lg">Tekin kurslar</ButtonComponent>
                    <ButtonComponent size="lg:text-lg" class="text-start" variant="white">Akkaunt</ButtonComponent>
                </div>
            </div>

            <hr class="border-t-2 border-gray_hr">

            <div class="flex items-center justify-between py-[1.875rem] lg:py-10">
                <div class="text-[0.75rem] lg:text-[1.5rem]">
                    Все права защищены 2023
                </div>
                <div class="flex gap-2.5 lg:gap-5">
                    <a href="#" class="social border flex items-center justify-center  rounded-full border-[#d9d9d9] w-[1.5rem] h-[1.5rem] lg:w-[3.125rem] lg:h-[3.125rem]">
                        <div class="w-3 lg:w-6">
                            <svg class="w-full" xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 24 20" fill="none">
                                <path d="M9 0.957823C6.89062 1.0047 4.3125 1.13126 3.675 1.21564C2.79375 1.32814 2.17969 1.59064 1.58437 2.11095C0.960937 2.64532 0.61875 3.25939 0.35625 4.31407C0.0984375 5.34532 0.0234375 6.60157 0.0234375 10C0.0234375 14.0266 0.140625 15.3766 0.590625 16.5016C1.11094 17.7953 2.07656 18.5125 3.60937 18.7375C4.39219 18.85 5.17031 18.9016 7.54687 18.9813C11.3484 19.1078 15.4594 19.075 18.9047 18.8828C20.6906 18.7797 21.0422 18.7234 21.675 18.4094C22.5281 17.9828 23.0906 17.3359 23.4422 16.3656C23.8781 15.1844 23.9719 14.0219 23.9719 10C23.9719 6.12814 23.8687 4.80626 23.4891 3.70001C23.0719 2.50001 22.2375 1.70314 21.0375 1.35626C20.5312 1.21095 19.9875 1.1547 18.1875 1.07032C15.0703 0.920324 12.1172 0.88751 9 0.957823ZM14.7281 2.35939C17.4 2.42501 20.0625 2.56564 20.5078 2.66876C20.9016 2.76251 21.1828 2.89845 21.4969 3.14689C21.8016 3.38595 21.9937 3.69064 22.1672 4.21095C22.4859 5.1672 22.5703 6.40939 22.5656 10.0938C22.5656 13.9234 22.4766 14.9547 22.0734 16C21.7781 16.7734 21.2437 17.1953 20.3719 17.3641C20.0766 17.4203 18.0797 17.5281 16.125 17.5984C14.1375 17.6641 10.35 17.6688 8.25 17.5984C3.99375 17.4625 3.3 17.3781 2.62969 16.9328C2.25469 16.6844 2.03906 16.3797 1.84687 15.8219C1.51875 14.8703 1.42969 13.6281 1.42969 10C1.42969 6.40939 1.51406 5.22814 1.8375 4.2672C2.01562 3.73282 2.14687 3.50314 2.42812 3.24064C2.98125 2.72032 3.34687 2.6172 4.96875 2.52345C8.01562 2.34532 11.5172 2.28907 14.7281 2.35939Z" fill="#1A1A1A"/>
                                <path d="M9.53418 5.9872C9.31856 6.08564 9.06543 6.36689 9.00449 6.59189C8.96231 6.73251 8.95293 7.62783 8.96231 9.86845L8.97637 12.9435L9.11699 13.1497C9.31856 13.431 9.60918 13.5856 9.94668 13.581C10.1998 13.5763 10.3029 13.5294 12.9467 12.1091C14.4467 11.3028 15.7404 10.595 15.8107 10.5435C16.0311 10.3841 16.1811 10.0841 16.1811 9.80283C16.1857 9.47939 16.0873 9.25439 15.8623 9.06689C15.7592 8.98251 14.6998 8.37783 13.4998 7.71689C10.1107 5.86064 10.2279 5.92158 9.93262 5.92158C9.79199 5.92626 9.61387 5.95439 9.53418 5.9872ZM12.492 8.77158C13.3967 9.26845 14.1748 9.69501 14.217 9.72783C14.2873 9.77939 14.0342 9.92939 12.3514 10.8294C11.2826 11.406 10.3967 11.8747 10.3826 11.8747C10.3686 11.8747 10.3592 10.9138 10.3592 9.7372V7.5997L10.6076 7.74033C10.7389 7.81533 11.592 8.27939 12.492 8.77158Z" fill="#1A1A1A"/>
                            </svg>
                        </div>
                    </a>
                    <a href="#" class="social border flex items-center justify-center rounded-full border-[#d9d9d9] w-[1.5rem] h-[1.5rem] lg:w-[3.125rem] lg:h-[3.125rem]">
                        <div class="w-3 lg:w-6">
                            <svg class="w-full" xmlns="http://www.w3.org/2000/svg" width="24" height="22" viewBox="0 0 24 22" fill="none">
                                <path d="M22.781 0.307812C22.3779 0.434374 0.552915 9.15312 0.41229 9.24687C0.11229 9.43906 -0.0517725 9.88437 0.0419775 10.2359C0.102915 10.4656 0.304477 10.7328 0.491977 10.8312C0.571665 10.8734 1.92635 11.4031 3.51073 12.0078C5.0951 12.6125 6.39823 13.1141 6.4076 13.1234C6.41698 13.1328 6.79198 14.5391 7.24198 16.2453C7.69198 17.9516 8.08573 19.3906 8.11385 19.4516C8.34354 19.9016 8.93417 20.1031 9.37479 19.8828C9.44042 19.85 10.2279 19.2922 11.1232 18.6453L12.7592 17.4734L13.1857 17.7687C14.681 18.8 18.7639 21.5516 18.8951 21.6219C18.9982 21.6781 19.1576 21.7062 19.3451 21.7109C19.5889 21.7109 19.6639 21.6922 19.8373 21.5703C19.9592 21.4859 20.081 21.3453 20.142 21.2187C20.2826 20.9375 24.0185 1.3625 23.9857 1.1C23.9107 0.537498 23.3107 0.143749 22.781 0.307812ZM18.5623 4.22187C18.3935 4.38594 16.2748 6.42031 13.8514 8.75C8.72323 13.6672 8.74198 13.6531 8.6951 13.8594C8.67635 13.9391 8.64823 13.9906 8.62948 13.9672C8.61073 13.9484 8.47948 13.4984 8.34354 12.9734C8.07635 11.9656 7.96854 11.7312 7.69667 11.5906C7.62167 11.5531 6.70292 11.1922 5.64823 10.7891C4.59354 10.3859 3.70291 10.0391 3.66542 10.0203C3.61854 9.99219 4.96385 9.43906 7.78573 8.31406C10.092 7.39531 13.5045 6.03594 15.3748 5.28594C17.2451 4.54062 18.792 3.92656 18.8201 3.92656C18.8435 3.92188 18.731 4.05781 18.5623 4.22187ZM21.506 4.23594C21.4826 4.3625 20.8357 7.75625 20.067 11.7875C19.2982 15.8141 18.6607 19.1234 18.6467 19.1328C18.6139 19.1703 11.1092 14.0797 11.1232 14.0375C11.1373 13.9906 21.4826 4.02031 21.5201 4.02031C21.5342 4.01562 21.5295 4.11406 21.506 4.23594ZM10.0498 15.6406C10.6029 16.0156 11.0576 16.3297 11.0576 16.3438C11.0576 16.3859 9.5576 17.4312 9.53417 17.4078C9.5201 17.3937 9.36073 16.8266 9.1826 16.1469C9.00448 15.4719 8.8451 14.8719 8.82635 14.8203C8.80292 14.7359 8.81229 14.7406 8.9201 14.8437C8.98573 14.9094 9.49198 15.2656 10.0498 15.6406Z" fill="#1A1A1A"/>
                            </svg>
                        </div>
                    </a>
                    <a href="#" class="social border flex items-center justify-center rounded-full border-[#d9d9d9] w-[1.5rem] h-[1.5rem] lg:w-[3.125rem] lg:h-[3.125rem]">
                        <div class="w-[0.35rem] lg:w-3">
                            <svg class="w-full" xmlns="http://www.w3.org/2000/svg" width="11" height="20" viewBox="0 0 11 20" fill="none">
                                <path d="M6.44414 0.927299C4.75195 1.27417 3.63633 2.26792 3.13945 3.87574C2.95664 4.46167 2.90508 4.99605 2.90508 6.39761V7.72417H1.63008C0.214453 7.72417 0.153516 7.73824 0.0597656 8.00542C-0.0199219 8.23511 -0.0199219 11.1507 0.0597656 11.3804C0.148828 11.6335 0.266016 11.657 1.67695 11.657L2.90508 11.6617V15.6882V19.7195L3.01758 19.8507L3.13008 19.982L4.81289 19.996C6.62227 20.0101 6.79102 19.996 6.88008 19.7945C6.92227 19.7054 6.93633 18.6085 6.93633 15.646V11.6195L8.50664 11.6054C9.93633 11.5914 10.0816 11.582 10.1566 11.507C10.2363 11.432 10.241 11.2914 10.241 9.66949V7.91636L10.1332 7.80855C10.0301 7.70074 10.0207 7.70074 8.47852 7.68667L6.92695 7.67261L6.9457 6.42105C6.95977 5.07574 6.97383 5.01011 7.23164 4.76636C7.42383 4.58355 7.54102 4.5648 8.84883 4.54136L10.1332 4.51324L10.2457 4.38199L10.3582 4.25074V2.65699V1.06324L10.241 0.950737L10.1285 0.833549L8.49727 0.838236C7.10508 0.842924 6.80508 0.852299 6.44414 0.927299Z" fill="#1A1A1A"/>
                            </svg>
                        </div>
                    </a>
                    <a href="#" class="social border flex items-center justify-center rounded-full border-[#d9d9d9] w-[1.5rem] h-[1.5rem] lg:w-[3.125rem] lg:h-[3.125rem]">
                        <div class="w-3 lg:w-6">
                            <svg class="w-full" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M5.15742 0.0691414C3.81211 0.270704 2.74805 0.80508 1.77773 1.77539C0.779297 2.77383 0.235547 3.88945 0.0527344 5.29102C-0.0175781 5.83945 -0.0175781 18.1582 0.0527344 18.7066C0.235547 20.1082 0.779297 21.2238 1.77773 22.2223C2.77617 23.2207 3.8918 23.7645 5.29336 23.9473C5.8418 24.0176 18.1605 24.0176 18.709 23.9473C20.1105 23.7645 21.2262 23.2207 22.2246 22.2223C23.223 21.2238 23.7668 20.1082 23.9496 18.7066C24.0199 18.1582 24.0199 5.83945 23.9496 5.29102C23.7668 3.88945 23.223 2.77383 22.2246 1.77539C21.2262 0.776955 20.1105 0.233204 18.709 0.0503922C18.109 -0.029295 5.68711 -0.0105457 5.15742 0.0691414ZM19.2059 2.18789C19.7355 2.3707 19.8527 2.43164 20.2887 2.73164C20.9824 3.20977 21.5309 3.95508 21.8074 4.79414L21.9621 5.27227V11.9988C21.9621 18.4348 21.9574 18.7395 21.873 19.0066C21.559 20.0238 21.0152 20.7785 20.2137 21.3223C19.8668 21.5566 19.5668 21.6926 19.0793 21.8473L18.7277 21.9598H12.0012H5.27461L4.79648 21.8051C3.48398 21.3738 2.56523 20.4129 2.1293 19.0066C2.04492 18.7395 2.04023 18.4348 2.04023 11.9988C2.04023 5.56289 2.04492 5.2582 2.1293 4.99102C2.46211 3.92227 3.04336 3.14414 3.91055 2.60039C4.27617 2.3707 4.9043 2.12696 5.29336 2.06133C5.41055 2.04258 8.49492 2.02852 12.1418 2.03321L18.7746 2.03789L19.2059 2.18789Z" fill="#1A1A1A"/>
                                <path d="M18.1887 4.04884C17.8558 4.12384 17.6637 4.22697 17.4387 4.45666C17.134 4.77072 17.0402 5.01916 17.0402 5.50666C17.0402 5.87228 17.059 5.96134 17.1668 6.16291C17.4246 6.65041 17.8605 6.93634 18.4043 6.97384C18.8027 6.99728 19.0137 6.94103 19.3465 6.71603C20.2793 6.08791 20.1715 4.65822 19.159 4.17541C18.8121 4.01134 18.5355 3.97384 18.1887 4.04884Z" fill="#1A1A1A"/>
                                <path d="M11.2324 6.05039C8.96836 6.36445 7.03711 7.93945 6.33398 10.0582C6.09492 10.7801 6.0293 11.1973 6.0293 11.9988C6.0293 12.8004 6.09492 13.2176 6.33398 13.9441C6.90117 15.641 8.36367 17.0988 10.0699 17.6707C10.7824 17.9051 11.2043 17.9707 12.0012 17.9707C12.798 17.9707 13.2199 17.9051 13.9324 17.6707C15.6387 17.0988 17.1012 15.641 17.6684 13.9441C17.9074 13.2176 17.973 12.8004 17.973 11.9988C17.973 10.9488 17.7715 10.091 17.3168 9.2332C16.4496 7.60664 14.959 6.48633 13.1496 6.11602C12.6996 6.02227 11.6777 5.98477 11.2324 6.05039ZM13.2059 8.19727C13.7074 8.36133 13.8434 8.42695 14.2277 8.68477C15.0152 9.21445 15.5449 9.95039 15.8496 10.9207C15.9434 11.2254 15.9621 11.3707 15.9621 11.9988C15.9621 12.7723 15.9059 13.0582 15.6293 13.6723C15.2824 14.4598 14.4621 15.2801 13.6699 15.6316C13.0605 15.9035 12.7746 15.9598 12.0012 15.9598C11.2277 15.9598 10.9418 15.9035 10.3324 15.6316C9.54023 15.2801 8.71992 14.4598 8.37305 13.6723C8.09648 13.0582 8.04023 12.7723 8.04023 11.9988C8.04023 11.3707 8.05898 11.2254 8.15273 10.9207C8.31211 10.4145 8.45273 10.1191 8.71992 9.73008C9.24961 8.96133 9.99023 8.43164 10.8996 8.16445C11.3637 8.02852 11.434 8.01914 12.1418 8.03789C12.6996 8.05195 12.8262 8.0707 13.2059 8.19727Z" fill="#1A1A1A"/>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="bg-black-lighter ">
            <div class="container flex justify-between py-6 lg:py-[1.875rem] gap-2.5">
                <div class="flex gap-1.5">
                    <div class="text-white h-[22px] w-[22px] flex items-center lg:items-stretch text-[1.5rem]">
                        &#169;
                    </div>
                    <div class="text-white lg:text-[1.5rem]">
                        KadirovDev, <span><a href="#" class="text-purple_link underline">условия</a></span> и <span><a href="#" class="text-purple_link underline">договора</a></span>
                    </div>
                </div>

                <div class="text-white lg:text-[1.5rem]">
                    Design by <span><a href="#" class="text-purple_link underline">Doston Yusupov</a></span>
                </div>
            </div>
        </div>
    </footer>
</template>

<script setup>
import MainLogoComponent from "@/components/MainLogoComponent.vue";
import ButtonComponent from "@/components/ButtonComponent.vue";
import {reactive} from "vue";

const footerLinks = reactive([
    {name: 'Asosiy ekran', url: '/'},
    {name: 'Kurslar', url: '/about-course'},
    {name: 'Ma\'lumot', url: '#'},
    {name: 'Kontakt', url: '#'}
])
</script>

<style scoped>
.social {
    transition: .2s ease;
}
.social:hover svg path {
    fill: #fff;
}
.social:hover {
    background: #1A1A1A;
}
</style>
