<template>
    <Transition name="nav">
        <nav v-if="!isBottom" id="nav" class="py-2.5 z-50 sticky transition duration-200 ease-in top-0 w-full lg:py-10" :class="[isScrolled ? 'bg-white shadow-sm' : 'bg-main_bg']"
        >
            <div class="lg:container">
                <div class="lg:flex justify-between items-center px-5 lg:px-0">

                    <a href="#" class="lg:hidden"><MainLogoComponent variant="sm:headerLogo"/></a>
                    <a href="#" class="hidden lg:block"><MainLogoComponent variant="headerLogo"/></a>

                    <button class="lg:hidden absolute top-3 right-5" @click="openNav">
                        <svg v-if="!isOpen" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                            <path d="M6.87207 14.9998H23.1284" stroke="#1A1A1A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M6.87207 20.0022H23.1284" stroke="#1A1A1A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M6.87201 9.99782H23.1284" stroke="#1A1A1A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <svg v-else xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                            <path d="M22.5 7.5L7.5 22.5" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M7.5 7.5L22.5 22.5" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>

                    <ul class="navbarHeight flex flex-col lg:flex-row lg:justify-evenly 2xl:justify-between lg:items-center lg:static absolute lg:max-w-[38.625rem] px-5 lg:px-0 w-full duration-200 ease-in" :class="[isOpen ? 'left-0' : 'left-[-100%]', isScrolled ? 'bg-white' : 'bg-main_bg']">
                        <li @click="enableScroll" class="mt-[3.125rem] w-fit lg:mt-0" v-for="navLink in navLinks" :key="navLink.name">
                            <router-link  :to="navLink.url" class="text-lg pb-0.5 duration-200 flex flex-col ease-in font-[Gilroy-semibold] hover:text-gray_hover">{{ navLink.name }}<hr class="border-t-2 duration-150 mx-auto w-0"></router-link>
                        </li>

                        <li class="flex lg:hidden mt-auto gap-4">
                            <ButtonComponent >Tekin kurslar</ButtonComponent>
                            <ButtonComponent variant="white-gray">Kirish</ButtonComponent>
                        </li>

                        <li class="flex lg:hidden items-center justify-between py-10">
                            <div class="text-[0.75rem]">
                                Все права защищены 2023
                            </div>
                            <div class="flex gap-2.5">
                                <a href="#" class="border flex items-center justify-center rounded-full border-[#d9d9d9] w-[1.5rem] h-[1.5rem]">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="none">
                                        <path d="M4.56 0.659737C3.5475 0.682237 2.31 0.742987 2.004 0.783486C1.581 0.837486 1.28625 0.963487 1.0005 1.21324C0.701251 1.46974 0.537001 1.76449 0.411001 2.27074C0.287251 2.76574 0.251251 3.36874 0.251251 4.99999C0.251251 6.93274 0.307501 7.58074 0.523501 8.12074C0.773251 8.74174 1.23675 9.08599 1.9725 9.19399C2.34825 9.24799 2.72175 9.27274 3.8625 9.31099C5.68725 9.37174 7.6605 9.35599 9.31425 9.26374C10.1715 9.21424 10.3403 9.18724 10.644 9.03649C11.0535 8.83174 11.3235 8.52124 11.4923 8.05549C11.7015 7.48849 11.7465 6.93049 11.7465 4.99999C11.7465 3.14149 11.697 2.50699 11.5148 1.97599C11.3145 1.39999 10.914 1.01749 10.338 0.850986C10.095 0.781237 9.834 0.754236 8.97 0.713737C7.47375 0.641737 6.05625 0.625986 4.56 0.659737ZM7.3095 1.33249C8.592 1.36399 9.87 1.43149 10.0838 1.48099C10.2728 1.52599 10.4078 1.59124 10.5585 1.71049C10.7048 1.82524 10.797 1.97149 10.8803 2.22124C11.0333 2.68024 11.0738 3.27649 11.0715 5.04499C11.0715 6.88324 11.0288 7.37824 10.8353 7.87999C10.6935 8.25124 10.437 8.45374 10.0185 8.53474C9.87675 8.56174 8.91825 8.61349 7.98 8.64724C7.026 8.67874 5.208 8.68099 4.2 8.64724C2.157 8.58199 1.824 8.54149 1.50225 8.32774C1.32225 8.20849 1.21875 8.06224 1.1265 7.79449C0.969001 7.33774 0.926251 6.74149 0.926251 4.99999C0.926251 3.27649 0.966751 2.70949 1.122 2.24824C1.2075 1.99174 1.2705 1.88149 1.4055 1.75549C1.671 1.50574 1.8465 1.45624 2.625 1.41124C4.0875 1.32574 5.76825 1.29874 7.3095 1.33249Z" fill="#1A1A1A"/>
                                        <path d="M4.81641 3.0737C4.71291 3.12095 4.59141 3.25595 4.56216 3.36395C4.54191 3.43145 4.53741 3.8612 4.54191 4.9367L4.54866 6.4127L4.61616 6.5117C4.71291 6.6467 4.85241 6.72095 5.01441 6.7187C5.13591 6.71645 5.18541 6.69395 6.45441 6.0122C7.17441 5.6252 7.79541 5.28545 7.82916 5.2607C7.93491 5.1842 8.00691 5.0402 8.00691 4.9052C8.00916 4.74995 7.96191 4.64195 7.85391 4.55195C7.80441 4.51145 7.29591 4.2212 6.71991 3.90395C5.09316 3.01295 5.14941 3.0422 5.00766 3.0422C4.94016 3.04445 4.85466 3.05795 4.81641 3.0737ZM6.23616 4.4102C6.67041 4.6487 7.04391 4.85345 7.06416 4.8692C7.09791 4.89395 6.97641 4.96595 6.16866 5.39795C5.65566 5.6747 5.23041 5.8997 5.22366 5.8997C5.21691 5.8997 5.21241 5.43845 5.21241 4.8737V3.8477L5.33166 3.9152C5.39466 3.9512 5.80416 4.17395 6.23616 4.4102Z" fill="#1A1A1A"/>
                                    </svg>
                                </a>
                                <a href="#" class="border flex items-center justify-center rounded-full border-[#d9d9d9] w-[1.5rem] h-[1.5rem]">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                        <path d="M11.1749 0.867613C10.9814 0.928363 0.505397 5.11336 0.437897 5.15836C0.293897 5.25061 0.215147 5.46436 0.260147 5.63311C0.289397 5.74336 0.386147 5.87161 0.476147 5.91886C0.514397 5.93911 1.16465 6.19336 1.92515 6.48361C2.68565 6.77386 3.31115 7.01461 3.31565 7.01911C3.32015 7.02361 3.50015 7.69861 3.71615 8.51761C3.93215 9.33661 4.12115 10.0274 4.13465 10.0566C4.2449 10.2726 4.5284 10.3694 4.7399 10.2636C4.7714 10.2479 5.1494 9.98011 5.57915 9.66961L6.3644 9.10711L6.56915 9.24886C7.2869 9.74386 9.24665 11.0646 9.30965 11.0984C9.35915 11.1254 9.43565 11.1389 9.52565 11.1411C9.64265 11.1411 9.67865 11.1321 9.7619 11.0736C9.8204 11.0331 9.8789 10.9656 9.90815 10.9049C9.97565 10.7699 11.7689 1.37386 11.7531 1.24786C11.7171 0.977862 11.4291 0.788862 11.1749 0.867613ZM9.1499 2.74636C9.0689 2.82511 8.0519 3.80161 6.88865 4.91986C4.42715 7.28011 4.43615 7.27336 4.41365 7.37236C4.40465 7.41061 4.39115 7.43536 4.38215 7.42411C4.37315 7.41511 4.31015 7.19911 4.2449 6.94711C4.11665 6.46336 4.0649 6.35086 3.9344 6.28336C3.8984 6.26536 3.4574 6.09211 2.95115 5.89861C2.4449 5.70511 2.0174 5.53861 1.9994 5.52961C1.9769 5.51611 2.62265 5.25061 3.97715 4.71061C5.08415 4.26961 6.72215 3.61711 7.6199 3.25711C8.51765 2.89936 9.26015 2.60461 9.27365 2.60461C9.2849 2.60236 9.2309 2.66761 9.1499 2.74636ZM10.5629 2.75311C10.5516 2.81386 10.2411 4.44286 9.87215 6.37786C9.50315 8.31061 9.19715 9.89911 9.1904 9.90361C9.17465 9.92161 5.5724 7.47811 5.57915 7.45786C5.5859 7.43536 10.5516 2.64961 10.5696 2.64961C10.5764 2.64736 10.5741 2.69461 10.5629 2.75311ZM5.0639 8.22736C5.3294 8.40736 5.54765 8.55811 5.54765 8.56486C5.54765 8.58511 4.82765 9.08686 4.8164 9.07561C4.80965 9.06886 4.73315 8.79661 4.64765 8.47036C4.56215 8.14636 4.48565 7.85836 4.47665 7.83361C4.4654 7.79311 4.4699 7.79536 4.52165 7.84486C4.55315 7.87636 4.79615 8.04736 5.0639 8.22736Z" fill="black"/>
                                    </svg>
                                </a>
                                <a href="#" class="border flex items-center justify-center rounded-full border-[#d9d9d9] w-[1.5rem] h-[1.5rem]">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" fill="none">
                                        <path d="M3.69319 0.164928C2.88094 0.331429 2.34544 0.808429 2.10694 1.58018C2.01919 1.86143 1.99444 2.11793 1.99444 2.79068V3.42743H1.38244C0.702944 3.42743 0.673694 3.43418 0.628694 3.56243C0.590444 3.67268 0.590444 5.07218 0.628694 5.18243C0.671444 5.30393 0.727694 5.31518 1.40494 5.31518L1.99444 5.31743V7.25018V9.18518L2.04844 9.24818L2.10244 9.31118L2.91019 9.31793C3.77869 9.32468 3.85969 9.31793 3.90244 9.22118C3.92269 9.17843 3.92944 8.65193 3.92944 7.22993V5.29718L4.68319 5.29043C5.36944 5.28368 5.43919 5.27918 5.47519 5.24318C5.51344 5.20718 5.51569 5.13968 5.51569 4.36118V3.51968L5.46394 3.46793C5.41444 3.41618 5.40994 3.41618 4.66969 3.40943L3.92494 3.40268L3.93394 2.80193C3.94069 2.15618 3.94744 2.12468 4.07119 2.00768C4.16344 1.91993 4.21969 1.91093 4.84744 1.89968L5.46394 1.88618L5.51794 1.82318L5.57194 1.76018V0.995178V0.230179L5.51569 0.176178L5.46169 0.119928L4.67869 0.122178C4.01044 0.124429 3.86644 0.128928 3.69319 0.164928Z" fill="black"/>
                                    </svg>
                                </a>
                                <a href="#" class="border flex items-center justify-center rounded-full border-[#d9d9d9] w-[1.5rem] h-[1.5rem]">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                        <path d="M2.71557 0.272954C2.06982 0.369703 1.55907 0.626204 1.09332 1.09195C0.614068 1.5712 0.353068 2.1067 0.265318 2.77945C0.231568 3.0427 0.231568 8.9557 0.265318 9.21895C0.353068 9.8917 0.614068 10.4272 1.09332 10.9065C1.57257 11.3857 2.10807 11.6467 2.78082 11.7345C3.04407 11.7682 8.95707 11.7682 9.22032 11.7345C9.89307 11.6467 10.4286 11.3857 10.9078 10.9065C11.3871 10.4272 11.6481 9.8917 11.7358 9.21895C11.7696 8.9557 11.7696 3.0427 11.7358 2.77945C11.6481 2.1067 11.3871 1.5712 10.9078 1.09195C10.4286 0.612703 9.89307 0.351704 9.22032 0.263953C8.93232 0.225703 2.96982 0.234704 2.71557 0.272954ZM9.45882 1.28995C9.71307 1.3777 9.76932 1.40695 9.97857 1.55095C10.3116 1.78045 10.5748 2.1382 10.7076 2.54095L10.7818 2.77045V5.9992C10.7818 9.08845 10.7796 9.2347 10.7391 9.36295C10.5883 9.8512 10.3273 10.2135 9.94257 10.4745C9.77607 10.587 9.63207 10.6522 9.39807 10.7265L9.22932 10.7805H6.00057H2.77182L2.54232 10.7062C1.91232 10.4992 1.47132 10.038 1.26207 9.36295C1.22157 9.2347 1.21932 9.08845 1.21932 5.9992C1.21932 2.90995 1.22157 2.7637 1.26207 2.63545C1.42182 2.12245 1.70082 1.74895 2.11707 1.48795C2.29257 1.3777 2.59407 1.2607 2.78082 1.2292C2.83707 1.2202 4.31757 1.21345 6.06807 1.2157L9.25182 1.21795L9.45882 1.28995Z" fill="black"/>
                                        <path d="M8.97056 2.183C8.81081 2.219 8.71856 2.2685 8.61056 2.37875C8.46431 2.5295 8.41931 2.64875 8.41931 2.88275C8.41931 3.05825 8.42831 3.101 8.48006 3.19775C8.60381 3.43175 8.81306 3.569 9.07406 3.587C9.26531 3.59825 9.36656 3.57125 9.52631 3.46325C9.97406 3.16175 9.92231 2.4755 9.43631 2.24375C9.26981 2.165 9.13706 2.147 8.97056 2.183Z" fill="black"/>
                                        <path d="M5.63156 3.14397C4.54481 3.29472 3.61781 4.05072 3.28031 5.06772C3.16556 5.41422 3.13406 5.61447 3.13406 5.99922C3.13406 6.38397 3.16556 6.58422 3.28031 6.93297C3.55256 7.74747 4.25456 8.44722 5.07356 8.72172C5.41556 8.83422 5.61806 8.86572 6.00056 8.86572C6.38306 8.86572 6.58556 8.83422 6.92756 8.72172C7.74656 8.44722 8.44856 7.74747 8.72081 6.93297C8.83556 6.58422 8.86706 6.38397 8.86706 5.99922C8.86706 5.49522 8.77031 5.08347 8.55206 4.67172C8.13581 3.89097 7.42031 3.35322 6.55181 3.17547C6.33581 3.13047 5.84531 3.11247 5.63156 3.14397ZM6.57881 4.17447C6.81956 4.25322 6.88481 4.28472 7.06931 4.40847C7.44731 4.66272 7.70156 5.01597 7.84781 5.48172C7.89281 5.62797 7.90181 5.69772 7.90181 5.99922C7.90181 6.37047 7.87481 6.50772 7.74206 6.80247C7.57556 7.18047 7.18181 7.57422 6.80156 7.74297C6.50906 7.87347 6.37181 7.90047 6.00056 7.90047C5.62931 7.90047 5.49206 7.87347 5.19956 7.74297C4.81931 7.57422 4.42556 7.18047 4.25906 6.80247C4.12631 6.50772 4.09931 6.37047 4.09931 5.99922C4.09931 5.69772 4.10831 5.62797 4.15331 5.48172C4.22981 5.23872 4.29731 5.09697 4.42556 4.91022C4.67981 4.54122 5.03531 4.28697 5.47181 4.15872C5.69456 4.09347 5.72831 4.08897 6.06806 4.09797C6.33581 4.10472 6.39656 4.11372 6.57881 4.17447Z" fill="black"/>
                                    </svg>
                                </a>
                            </div>
                        </li>
                    </ul>

                    <div class="hidden lg:flex gap-5">
                        <ButtonComponent size="lg:text-lg" variant="white">Kirish</ButtonComponent>
                        <ButtonComponent class="whitespace-nowrap" size="lg:text-lg">Tekin kurslar</ButtonComponent>
                    </div>

                </div>
            </div>
        </nav>
    </Transition>

</template>

<script setup>
import {ref} from "vue";
import ButtonComponent from "@/components/ButtonComponent.vue";
import MainLogoComponent from "@/components/MainLogoComponent.vue";
import {onMounted} from "vue";

const isScrolled = ref(false)
const isOpen = ref(false)
const isBottom = ref(false)
const navLinks = ref([
    {name: 'Asosiy ekran', url: '/'},
    {name: 'Kurslar', url: '/about-course'},
    {name: 'Ma\'lumot', url: 'example'},
    {name: 'Kontakt', url: 'example'}
])

const openNav = () => {
    isOpen.value = !isOpen.value
    document.body.style.overflow = isOpen.value ? 'hidden' : 'auto'
}
const enableScroll = () => {
    document.body.style.overflow = 'auto'
}
onMounted(() => {
    window.addEventListener('scroll', () => {
        let scrollValue = window.scrollY
        isScrolled.value = scrollValue > 0;
        // isBottom.value = window.innerHeight + scrollValue + 2 >= document.body.offsetHeight
        isBottom.value = window.innerHeight + scrollValue + 2 >= document.body.offsetHeight && document.body.offsetHeight > window.innerHeight
    })
    window.addEventListener('resize', () => {
        document.body.style.overflow = isOpen.value && window.innerWidth < 1024 ? 'hidden' : 'auto'
    })
})

</script>

<style scoped>
#nav .headerActiveLink {
    transform: translate(1rem, 0);
}
#nav .headerActiveLink hr {
    border-top: 3px solid #80007F;
    width: 70%;
}
.navbarHeight {
    height: calc(100vh - 2.875rem);
}
.nav-enter-active,
.nav-leave-active {
    transition: 0.2s linear;
}
.nav-enter-from,
.nav-leave-to {
    transform: translateY(-100%);
}
@media screen and (min-width: 1024px) {
    .navbarHeight {
        height: fit-content;
    }
    #nav .headerActiveLink {
        transform: translate(0);
    }
    #nav .headerActiveLink hr {
        margin: auto;
    }
}
</style>
