<template>
        <span class="lg:text-lg text-base leading-normal text-gray_blue">{{ props.label }}</span>
        <div class="flex relative border border-[#D4D4D4] lg:border-[#ccc] rounded-[10px] min-w-56 px-4 lg:px-5 py-5 md:py-3 lg:py[13xp]">
            <input
                :type="isPasswordVisible ? 'text' : props.type"
                :placeholder="props.placeholder"
                @input="updateInput"
                :value="props.modelValue"
                class="outline-none border-none bg-transparent w-full text-xl leading-normal"
            >
            <button v-if="props.type === 'password'" @click="showPassword" class="absolute inset-y-0 right-0 pe-4">
                <svg v-if="!isPasswordVisible" xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.37156 10.452C3.24073 10.2095 3.24073 9.91533 3.37156 9.67283C4.94823 6.75699 7.86073 4.22949 10.7732 4.22949C13.6857 4.22949 16.5982 6.75699 18.1749 9.67366C18.3057 9.91616 18.3057 10.2103 18.1749 10.4528C16.5982 13.3687 13.6857 15.8962 10.7732 15.8962C7.86073 15.8962 4.94823 13.3687 3.37156 10.452Z" stroke="#121B2D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12.5412 8.29473C13.5175 9.27104 13.5175 10.854 12.5412 11.8303C11.5649 12.8066 9.98198 12.8066 9.00567 11.8303C8.02936 10.854 8.02936 9.27104 9.00567 8.29473C9.98198 7.31842 11.5649 7.31842 12.5412 8.29473" stroke="#121B2D" stroke-width="1.4286" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <svg v-else xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M10.0002 15.7585C9.29857 15.7585 8.59607 15.6126 7.91357 15.3527" stroke="#121B2D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M17.4017 10.4043C15.825 13.2723 12.9125 15.7584 10 15.7584" stroke="#121B2D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M15.8989 7.49683C16.4748 8.15994 16.9864 8.88289 17.4014 9.63781C17.5323 9.87633 17.5323 10.1657 17.4014 10.4042" stroke="#121B2D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M4.1665 15.7584L15.8332 4.28296" stroke="#121B2D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M8.14424 11.846C7.11924 10.8378 7.11924 9.20258 8.14424 8.19438C9.16924 7.18618 10.8317 7.18618 11.8567 8.19438" stroke="#121B2D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M14.2031 5.88624C12.914 4.90509 11.4565 4.28296 9.99979 4.28296C7.08729 4.28296 4.17479 6.76902 2.59812 9.63788C2.46729 9.8764 2.46729 10.1657 2.59812 10.4043C3.38646 11.8379 4.50812 13.1756 5.79646 14.1559" stroke="#121B2D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </div>
</template>

<script setup>
import {ref} from "vue";

const props = defineProps({
    modelValue: {
        type: [String, Number],
        required: true
    },
    type: {
        type: String,
        required: true
    },
    label: {
        type: String,
        required: true
    },
    placeholder: {
        type: String,
    }
})
const emit = defineEmits(['update:modelValue'])
const updateInput = (event) => {
    emit('update:modelValue', event.target.value)
}

const isPasswordVisible = ref(false)

const showPassword = () => {
    isPasswordVisible.value = !isPasswordVisible.value
}
</script>

<style scoped>

</style>