<template>
    <div ref="height" class="flex flex-col gap-5">
        <div @click="back"
             class="flex items-center lg:hidden lg:mt-[1.875rem] cursor-pointer hover:opacity-50 transition-all duration-200">
            <svg class="lg:hidden" width="16" height="17" viewBox="0 0 16 17" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M12 1.5L5 8.5L12 15.5" stroke="#323232" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
            </svg>
            <div class="text-base ml-[5px] leading-4 text-gray_bg mt-1">Orqaga</div>
        </div>

        <h2 class="text-2xl leading-[1.625rem] lg:text-[2rem] lg:leading-[3.56rem] font-[Gilroy-semibold] text-black-lighter">
            Mening kurslarim
        </h2>
        <router-link :to="'/profile/my-courses'">
            <div class="hidden lg:block">
                <BackButtonComponent/>
            </div>
        </router-link>
        <div class="grid gap-[1.875rem] mb-10">
            <div class="text-sm	lg:text-2xl leading-[1.3125rem] lg:leading-[2.67rem] font-[Gilroy-semibold]">
                {{ course.title }}
            </div>
            <div class="mt-2.5 mb-[1.875rem]">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but |Lorem Ipsum is
                simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                a type specimen book. It has survived not only five centuries.
            </div>

            <div class="grid grid-cols-4 xl:grid-cols-9 2xl:grid-cols-7 gap-5 buttons">
                <div class="col-span-4 sm:col-span-2 lg:col-span-4 xl:col-span-3 2xl:col-span-2">
                    <ButtonComponent variant="blue">Telegramga o'tish</ButtonComponent>
                </div>

                <div class="col-span-4 sm:col-span-2 lg:col-span-4 xl:col-span-3 2xl:col-span-2">
                    <router-link :to="'/profile/another-flow'">
                        <ButtonComponent variant="white">Boshqa potokka o’tish</ButtonComponent>
                    </router-link>
                </div>
            </div>

            <div>
                <div class="w-full grid grid-cols-8 sm:pl-2.5">
                    <div class="col-span-full 2xl:col-span-6">
                        <RadioInputComponent
                                label="To'lov turi"
                                id="payment"
                                :options="paymentTypes"
                                :value="selectedPayment"
                                @update:value="updatePayment"
                        ></RadioInputComponent>

                        <div class="flex flex-wrap mt-4 lg:mt-[1.875rem]">
                            <div class="text-xl lg:text-[2.125rem] flex mr-4">2000000 <span class="text-md ml-1 mt-auto font-[Gilroy] lg:text-2xl">uzs/oyiga</span></div>
                            <div class="text-md lg:text-2xl text-gray_blue flex items-end font-[Gilroy]"><span class="text-xl mr-1 lg:text-[2.125rem] line-through">3800000</span> uzs/oyiga</div>
                        </div>
                        <div class="lg:text-xl">4 to'lov</div>

                        <a href="#" class="text-main_color lg:text-xl mt-5 lg:mt-[1.875rem] flex items-center">
                            Menda promokod mavjud
                            <svg class="w-4 h-4 ml-1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                                <path d="M11 22L18 15L11 8" stroke="#80007F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>

                        <div class="mt-5 lg:mt-[1.875rem] flex items-center">
                            <CheckboxComponent/>
                          <div class="lg:text-xl ml-2">Barcha shartnoma shartlariga roziman</div>
                        </div>

                        <ButtonComponent @click="openPopup" v-if="false" class="lg:text-lg flex justify-center items-center mt-5 lg:mt-[1.875rem]">
                            To’lov uchun ro’yxatdan o’ting
                            <svg class="w-5 h-5 lg:w-[1.625rem] ml-1 lg:h-[1.625rem]" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                                <path d="M20.6411 11.5689L11.3589 20.4309" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M20.4905 18.0487L20.6407 11.5687" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M14.161 11.4187L20.6411 11.5688" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </ButtonComponent>
                        <ButtonComponent @click="openPopup" v-else variant="gray" class="lg:text-lg flex justify-center items-center mt-5 lg:mt-[1.875rem]">
                            To’lovni amalga oshirish
                            <svg class="w-5 h-5 lg:w-[1.625rem] ml-1 lg:h-[1.625rem]" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                                <path d="M20.6411 11.5689L11.3589 20.4309" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M20.4905 18.0487L20.6407 11.5687" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M14.161 11.4187L20.6411 11.5688" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </ButtonComponent>
                        <div class="lg:text-lg mt-2.5">To’lov faqat Humo karta orqali amalga oshiriladi</div>
                    </div>

                </div>
            </div>

            <div class="flex-1 overflow-x-auto">
                <p class="text-3xl leading-[3.3375rem] font-[Gilroy-semibold] text-black-lighter mt-2.5">To’lovlarim</p>
                <div class="bg-white pt-7 overflow-x-auto px-3.5 mb-10 rounded-[10px]">
                    <div class="min-w-max">
                        <div class="font-[Gilroy-semibold] grid grid-cols-9 w-full justify-between px-2 pb-6 text-lg lg:text-xl leading-[2.0025rem] lg:leading-[2.67rem]">
                            <div class="col-span-1 pl-2.5 lg:pl-5">№</div>
                            <div class="col-span-3 text-center">To’langan oylar</div>
                            <div class="col-span-1 text-center">Miqdor</div>
                            <div class="col-span-2 text-center">Status</div>
                            <div class="col-span-2 text-center">Sana</div>
                        </div>
                        <div
                                v-for="boughtMonth of boughtMonths"
                                :key="boughtMonth.id"
                                class="grid grid-cols-9 w-full justify-between px-2 pb-6 text-sm lg:text-lg leading-[1.150625rem] lg:leading-[1.479375rem]"
                        >
                            <div class="col-span-1 h-14 flex w-full items-center justify-start pl-2.5 lg:pl-5">1</div>
                            <div class="col-span-3 text-center gap-2 h-14 flex w-full items-center justify-center overflow-hidden">
                                <p>{{ boughtMonth.month }}</p>
                            </div>
                            <div class="col-span-1 text-center flex w-full h-14 items-center justify-center">{{ boughtMonth.price }}</div>
                            <div class="col-span-2 text-center flex w-full h-14 items-center justify-center">
                                <p class="py-[5px] px-[15px] rounded-[5px]" :class="{'bg-lime-green text-white': boughtMonth.status === 'payed'}">{{ boughtMonth.status && 'To\'langan' }}</p>
                            </div>
                            <div class="col-span-2 text-center flex w-full h-14 items-center justify-center">{{ boughtMonth.payedAt }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import {reactive, ref} from "vue";
import ButtonComponent from "@/components/ButtonComponent.vue";
import {useRouter} from "vue-router";
import RadioInputComponent from "@/components/RadioInputComponent.vue";
import CheckboxComponent from "@/components/CheckboxComponent.vue";
import {useStore} from "vuex";
import BackButtonComponent from "@/components/BackButtonComponent.vue";

const router = useRouter()
const height = ref(null)
const store = useStore()
const back = () => {
    router.back()
}

const course = reactive({
    id: 0,
    img: 'my-course1.svg',
    startsAt: 'Developer (Oktabr)',
    title: 'Boshlang’ish veb dasturchi: Junior Full Stack Developer',
    info: '4 oy - 48 dars - 4 praktika',
    nimadir: ['1 oktabr', '3 kun']
})

const boughtMonths = ref([
    {id: 0, month: 'Sentabr', price: '699 900', status: 'payed', payedAt: '21.08.2023, 10:30'},
    {id: 0, month: 'Oktabr', price: '699 900', status: 'payed', payedAt: '21.08.2023, 10:30'},
])

const paymentTypes = [
    {label: 'Oylik', value: 'month', checked: true},
    {label: 'Umumiy', value: 'total', checked: false},
]
const selectedPayment = ref('')
const updatePayment = (value) => {
    selectedPayment.value = value
}

const openPopup = () => {
    store.commit('updatePopup',{name: 'payment-success', value: true})
}
</script>

<style scoped>

</style>