<template>
    <div class="flex flex-col gap-5">
        <div @click="back"
             class="flex items-center lg:hidden lg:mt-[1.875rem] cursor-pointer hover:opacity-50 transition-all duration-200">
            <svg class="lg:hidden" width="16" height="17" viewBox="0 0 16 17" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M12 1.5L5 8.5L12 15.5" stroke="#323232" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
            </svg>
            <div class="text-base ml-[5px] leading-4 text-gray_bg mt-0.5">Orqaga</div>
        </div>
        <h2 class="text-2xl leading-[1.625rem] lg:text-[2rem] lg:leading-[3.56rem] font-[Gilroy-semibold] text-black-lighter">
            Koinlarim</h2>

        <div class="coins p-[11px] pr-5 lg:pr-8 lg:p-4 bg-white flex items-center gap-[5px] w-fit rounded-[0.625rem] leading-[3.56rem] ">
            <img class="h-[30px] lg:h-[40px]" src="/src/svg/3d-coin-dynamic-premium.svg" alt="coin-image">
            <p class="text-base lg:text-xl leading-[1.78rem] lg:leading-[2.28125rem] my-auto">Koinlarim: 30</p>
        </div>
        <div class="text-black-lighter text-sm lg:text-xl leading-[2.225rem]">Yig’ilgan koinlaringizga bizning
            merchlarimizdan harid qiling
        </div>

        <p class="text-xl lg:text-3xl leading-[2.225rem] lg:leading-[3.3375rem] font-[Gilroy-semibold] text-black-lighter">Merchlarimiz</p>

        <div class="grid grid-cols-2 xl:grid-cols-3 gap-[0.9375rem] lg:gap-[1.875rem]">
            <div
                class="flex flex-col bg-white rounded-[10px] overflow-hidden"
                v-for="merch of merchs"
                :key="merch.id"
            >
                <img :src="'/src/svg/' + merch.img" alt="merch-photo">
                <div class="m-2.5 lg:m-5 flex flex-col gap-[5px] lg:gap-2.5 rounded-[0.625rem]">
                    <p class="text-base lg:text-2xl leading-6 lg:leading-[1.9725rem]">{{ merch.title }}</p>
                    <div class="flex items-center text-base lg:text-xl leading-[1.56rem] lg:leading-[1.95rem] gap-[7px]">
                        <svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <ellipse cx="8.99859" cy="9.99909" rx="6.0025" ry="2.50104" stroke="#1A1A1A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15.0011 13.501C15.0011 14.8823 12.3137 16.002 8.99859 16.002C5.6835 16.002 2.99609 14.8823 2.99609 13.501" stroke="#1A1A1A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M21.0025 10C21.0025 11.3813 18.3151 12.501 15 12.501" stroke="#1A1A1A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15.0011 10V17.5031C15.0011 18.8844 12.3137 20.0042 8.99859 20.0042C5.6835 20.0042 2.99609 18.8844 2.99609 17.5031V10" stroke="#1A1A1A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M21.0025 6.49805V14.0012C21.0025 15.3825 18.3151 16.5022 15 16.5022" stroke="#1A1A1A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M9.49826 7.50853C9.20127 7.2536 9.0207 6.88886 8.99805 6.49811C8.99805 5.11754 11.6892 3.99707 15.0005 3.99707C18.3119 3.99707 21.003 5.11754 21.003 6.49811C21.003 7.87869 18.3119 8.99915 15.0005 8.99915C14.8305 8.99915 14.6604 8.99915 14.5003 8.98915" stroke="#1A1A1A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <p>{{ merch.price }}</p>
                    </div>
                    <button class="text-sm leading-[1.365rem] lg:text-xl lg:leading-[1.95rem] border border-gray_blue py-[7px] lg:py-2.5 rounded-[5px] hover:bg-main_color hover:text-white hover:border-main_color transition-all duration-200">Sotib olish</button>
                </div>
            </div>
        </div>

        <div class="flex-1">
            <p class="text-3xl leading-[3.3375rem] font-[Gilroy-semibold] text-black-lighter mt-2.5">Sotib olingan merchlarimiz</p>
            <div class="bg-white overflow-x-auto px-3.5 mb-10 rounded-[10px]">
                <div class="min-w-max">
                    <div class="font-[Gilroy-semibold] grid grid-cols-9 w-full justify-between px-2 pb-6 text-lg lg:text-xl leading-[2.0025rem] lg:leading-[2.67rem]">
                        <div class="col-span-1 pl-2.5 lg:pl-5">№</div>
                        <div class="col-span-3 text-center">Olingan Merch</div>
                        <div class="col-span-1 text-center">Koin</div>
                        <div class="col-span-2 text-center">Status</div>
                        <div class="col-span-2 text-center">Sana</div>
                    </div>
                    <div
                        v-for="boughtMerch of boughtMerchs"
                        :key="boughtMerch.id"
                        class="grid grid-cols-9 w-full justify-between px-2 pb-6 text-sm lg:text-lg leading-[1.150625rem] lg:leading-[1.479375rem]"
                    >
                        <div class="col-span-1 h-14 flex w-full items-center justify-start pl-2.5 lg:pl-5">1</div>
                        <div class="col-span-3 text-center gap-2 h-14 flex w-full items-center justify-center overflow-hidden">
                            <img class="w-16 overflow-hidden" :src="'/src/svg/' + boughtMerch.img" alt="merch image">
                            <p>{{ boughtMerch.title }}</p>
                        </div>
                        <div class="col-span-1 text-center flex w-full h-14 items-center justify-center">{{ boughtMerch.price }}</div>
                        <div class="col-span-2 text-center flex w-full h-14 items-center justify-center">
                            <p class="py-[5px] px-[15px] rounded-[5px]" :class="{'bg-yellow text-black-lighter': boughtMerch.status === 'in-process', 'bg-lime-green text-white': boughtMerch.status === 'delivered'}">{{ boughtMerch.status }}</p>
                        </div>
                        <div class="col-span-2 text-center flex w-full h-14 items-center justify-center">{{ boughtMerch.boughtAt }}</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script setup>
import {ref} from "vue";

const emit = defineEmits(['toBack'])
const back = () => {
    emit('toBack', false)
}

const merchs = ref([
    {id: 0, img: 'Frame 277132624.svg', title: 'KadirovDev special T-shirt', price: 45,},
    {id: 1, img: 'Frame 277132624 (1).svg', title: 'KadirovDev special cap', price: 25,},
    {id: 2, img: 'Frame 277132624 (2).svg', title: 'KadirovDev special mug', price: 10,},
])

const boughtMerchs = ref([
    {id: 0, img: 'Frame 277132624 (2).svg', title: 'KadirovDev special T-mug', price: 10, status: 'in-process', boughtAt: '21.07.2023, 10:30'},
    {id: 1, img: 'Frame 277132624.svg', title: 'KadirovDev special T-shirt', price: 45, status: 'in-process', boughtAt: '21.07.2023, 10:30'},
    {id: 2, img: 'Frame 277132624 (1).svg', title: 'KadirovDev special cap', price: 25, status: 'delivered', boughtAt: '10.07.2023, 10:30'},
])
</script>

<style scoped>

</style>