<template>
    <div v-if="currentPopup"
         class="fixed w-screen h-screen flex justify-center items-center z-[100]">
        <div
            class="bg-white w-[90vw] md:w-[703px] px-5 md:px-[4.3125rem] py-10 rounded-[20px] mx-5">
            <div class="flex justify-center">
                <img class="w-[9.0625rem] md:w-[12.75rem]" :src="'/src/svg/popupImages/' + currentPopup.image"
                     alt="popup">
            </div>
            <div class="flex flex-col items-center justify-center mt-2.5 text-center">
                <div
                    class="mb-2.5 text-lg md:text-[1.625rem] leading-[2.0025rem] md:leading-[2.8925rem] font-[Gilroy-semibold]">
                    {{ currentPopup.heading }}
                </div>
                <div class="mb-5 text-sm md:text-xl leading-[1.5575rem] md:leading-[2.225rem]">
                    {{ currentPopup.subheading }}
                </div>
                <div class="w-full max-w-[17.9375rem]">
                    <ButtonComponent @click="closeEvent" class="">{{ currentPopup.button }}</ButtonComponent>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import ButtonComponent from "@/components/ButtonComponent.vue";
import {computed, reactive} from "vue";
import {useStore} from "vuex";

const props = defineProps({
    variant: {
        type: String,
        required: true
    }
})

const store = useStore()

const popups = reactive([
    {
        title: 'payment-success',
        image: 'payment-success.svg',
        heading: 'To’lov muvafaqqiyatli qabul qilindi',
        subheading: 'Sizning to’lovingiz Junior Sentabr kursi uchun muvafaqqiyatli qabulqilindi, bizning aloqamizni kuting',
        button: 'Tayyor'
    },
    {
        title: 'data-saved',
        image: 'data-saved.svg',
        heading: 'Malumotlar Saqlandi',
        subheading: 'Sizning kiritgan malumotlaringiz muvafaqqiyatli o’zgartirildi va saqlandi.',
        button: 'Tayyor'
    },
    {
        title: 'error',
        image: 'Error.svg',
        heading: 'Hatolik yuz berdi!',
        subheading: 'Bajargan operatsiyangizda hatolik yuz berdi, keyinroq harakat qilib ko’ring.',
        button: 'Ho’p'
    },
    {
        title: 'comment-sent',
        image: 'comment-sent.svg',
        heading: 'Komentariyangiz yuborildi va Koin ishladingiz ',
        subheading: 'Sizning komentariyangiz muvafaqqiyatli yuborildi,yuborgan komentingiz uchun 5ta koin ishlab oldingiz',
        button: 'Ho’p'
    },
    {
        title: 'application-accepted',
        image: 'application-accepted.svg',
        heading: 'Arizangiz qabul qilindi ',
        subheading: 'Sizning arizangizni admin korib chiqib tez orada javob qaytaradi',
        button: 'Ho’p'
    },
])

const currentPopup = computed(() => popups.find(item => item.title === props.variant))
const closeEvent = () => {
    store.commit('updatePopup', {name: '', value: false})
}

</script>

<style scoped>

</style>
