<template>
    <div>
        <label class="text-[0.875rem] lg:text-lg" :for="id">{{ label }}</label>
        <div class="grid xs:grid-cols-2 lg:grid-cols-2 gap-x-4 gap-y-1 lg:gap-y-5 lg:gap-x-[1.875rem]" :class="options.length > 2 ? '2xl:grid-cols-4 md:grid-cols-3' : 'md:grid-cols-2'">
            <label
                :class="{'border-main_color': selectedOption === option.value}"
                class="col-span text-[0.625rem] select-none cursor-pointer relative whitespace-nowrap z-10 lg:text-xl flex transition duration-200 ease-in items-center p-2 lg:p-3 rounded-[10px] border border-gray_bottom_tab"
                v-for="(option, index) in options"
                :key="index"
            >
                <div v-if="option.percentage" class="w-8 h-8 hidden rounded-full absolute -top-4 -right-4 lg:flex justify-center items-center text-[0.875rem] text-main_color bg-[#d7cef9]">
                   {{option.percentage}}%
                </div>
                <div class="w-5 h-5 lg:w-8 lg:h-8 mr-1 lg:mr-2.5 relative">
                    <Transition name="svg">
                        <svg v-if="selectedOption === option.value" class="w-full h-full absolute top-0" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.5" y="0.5" width="31" height="31" rx="15.5" stroke="#D4D4D4"/>
                            <rect x="8" y="8" width="16" height="16" rx="8" fill="#80007F"/>
                        </svg>
                        <svg v-else class="w-full h-full absolute top-0" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <rect x="0.5" y="0.5" width="31" height="31" rx="15.5" stroke="#D4D4D4"/>
                        </svg>
                    </Transition>
                    <input
                        class="appearance-none"
                        type="radio"
                        :id="`${id}-${index}`"
                        :name="id"
                        :value="option.value"
                        v-model="selectedOption"
                        @change="handleChange"
                        :checked="option.checked"
                    />
                </div>
                {{ option.label }}
            </label>

        </div>
    </div>
</template>

<script setup>
import {ref, defineProps, defineEmits, onMounted,} from 'vue';

const { label, id, options, value, } = defineProps([
    'label',
    'id',
    'options',
    'value',
]);

const emit = defineEmits(['update:value']);

const selectedOption = ref(value);

const handleChange = () => {
    emit('update:value', selectedOption.value);
};
onMounted(() => {
    options.forEach(option => {
        if(option.checked) {
            selectedOption.value = option.value
        }
    })
})
</script>

<style scoped>
.svg-enter-active,
.svg-leave-active {
    transition: opacity 0.2s ease-in;
}
.svg-enter-from,
.svg-leave-to {
    opacity: 0;
}
</style>
