<template>
    <div ref="height" class="flex flex-col gap-5">
        <div @click="back"
             class="flex items-center lg:hidden lg:mt-[1.875rem] cursor-pointer hover:opacity-50 transition-all duration-200">
            <svg class="lg:hidden" width="16" height="17" viewBox="0 0 16 17" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M12 1.5L5 8.5L12 15.5" stroke="#323232" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"/>
            </svg>
            <div class="text-base ml-[5px] leading-4 text-gray_bg mt-1">Profil</div>
        </div>

        <h2 class="text-2xl leading-[1.625rem] lg:text-[2rem] lg:leading-[3.56rem] font-[Gilroy-semibold] text-black-lighter">
            Sozlamalar
        </h2>

        <div class="grid grid-cols-1 md:grid-cols-12 gap-[1.875rem]">
            <div class="col-span-1 md:col-span-6 xl:col-span-4">
                <InputComponentForSettings
                    type="text"
                    label="Ism Familiyangiz"
                    v-model="settings.fullName"
                />
            </div>
            <div class="col-span-1 md:col-span-6 xl:col-span-4">
                <InputComponentForSettings
                    type="text"
                    label="Daraja"
                    v-model="settings.level"
                />
            </div>
            <div class="col-span-1 md:col-span-6 xl:col-span-4">
                <InputComponentForSettings
                    type="tel"
                    label="Telefon raqam"
                    v-model="settings.phone"
                />
            </div>
            <div class="col-span-1 md:col-span-6 xl:col-span-4">
                <InputComponentForSettings
                    type="email"
                    label="Email"
                    v-model="settings.email"
                />
            </div>
            <div class="col-span-1 md:col-span-6 xl:col-span-4">
                <InputComponentForSettings
                    type="email"
                    label="Telegram akkaunt"
                    v-model="settings.telegramAccount"
                />
            </div>
            <div class="col-span-1 md:col-span-6 xl:col-span-4">
                <InputComponentForSettings
                    type="password"
                    label="Parol"
                    v-model="settings.password"
                />
            </div>
            <div class="col-span-1 md:col-span-6 xl:col-span-4">
                <InputComponentForSettings
                    type="password"
                    label="Yangi parol"
                    v-model="settings.newPassword"
                />
            </div>
            <div class="col-span-1 md:col-span-6 xl:col-span-4">
                <InputComponentForSettings
                    type="password"
                    label="Yangi parolni takrorlang"
                    v-model="settings.confirmNewPassword"
                />
            </div>
        </div>
        <div class="col-span-6 grid grid-cols-8 gap-4 lg:gap-5 lg:mt-2.5">
            <ButtonComponent
                    class="col-span-4 md:col-span-3 xl:col-span-2 lg:py-[0.6875rem] lg:leading-[2.4375rem] text-base lg:text-[1.375rem] mb-7"
                    variant="gray-blue">Bekor qilish
            </ButtonComponent>
            <ButtonComponent @click="openPopup"
                    class="col-span-4 md:col-span-3 xl:col-span-2 lg:py-[0.6875rem] lg:leading-[2.4375rem] text-base lg:text-[1.375rem] mb-7">
                <div class="leading-[1.78rem]">
                    Yuborish
                </div>
            </ButtonComponent>
        </div>

    </div>
</template>

<script setup>
import ButtonComponent from "@/components/ButtonComponent.vue";
import {reactive, ref} from "vue";
import InputComponentForSettings from "@/components/InputComponentForSettings.vue";
import {useStore} from "vuex";

const emit = defineEmits(['toBack'])
const height = ref(null)
const store = useStore()
const back = () => {
    emit('toBack', height.value.clientHeight)
}

const settings = reactive({
    fullName: '',
    level: '',
    phone: '',
    email: '',
    telegramAccount: '',
    password: '',
    newPassword: '',
    confirmNewPassword: ''
})

const openPopup = () => {
    store.commit('updatePopup',{name: 'data-saved', value: true})
}
</script>

<style scoped>

</style>