<template>
    <div ref="side" class="p-0.5">
        <div class="flex items-center lg:hidden  cursor-pointer hover:opacity-50 transition-all duration-200">
            <svg class="lg:hidden" width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 1.5L5 8.5L12 15.5" stroke="#323232" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <div class="text-base ml-[5px] leading-4 text-gray_bg mt-0.5">Orqaga</div>
        </div>
        <h1 class="text-[1.5rem] lg:text-[2.5rem] font-[Gilroy-semibold] mt-5 lg:mt-7 mb-5 lg:pb-5 text-black-lighter leading-[1.625rem] lg:leading-[4.45rem]">
            Profile</h1>

        <div class="grid lg:bg-white lg:mt-[3.5625rem] rounded-[1.25rem]">
            <div class="title flex items-center lg:block">
                <div class="avatar lg:flex lg:justify-center lg:mt-[-3.5625rem]">
                    <div class="relative h-[4.375rem] lg:h-[9.5rem]">
                        <img src="@/svg/Frame 277132587.svg" class="h-full" alt="avatar">
                        <div class="cursor-pointer shadow-[0_0_10px_0_rgba(0,0,0,0.15)] flex justify-center items-center absolute bottom-0 right-0 w-7 h-7 lg:w-12 lg:h-12 rounded-full bg-white">
                            <img class="w-[1.125rem] h-[1.125rem] lg:w-6 lg:h-6" src="/src/svg/change-avatar.svg" alt="change-avatar">
                        </div>
                    </div>
                </div>
                <div class="full-info lg:my-[1.875rem] ml-3.5 pl-px lg:block lg:text-center">
                    <div class="full-name text-xl lg:text-[1.625rem] mb-2.5 leading-[1.5625rem] lg:leading-8 font-[Gilroy-semibold]">Mikolay Nikolayev</div>
                    <div class="job text-base lg:text-[1.25rem] text-gray_blue leading-[1.1875rem] lg:leading-6">Junior Developer</div>
                </div>
            </div>

            <div class="balance grid grid-cols-2 gap-2.5 mb-5 mt-5 lg:mt-0 lg:mb-[1.875rem] lg:mx-3">
                <div class="user-id h-[2.875rem] px-3 py-[0.6875rem] flex items-center gap-2 bg-[#95C6FF] rounded-[0.625rem]">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 15V9" stroke="white" stroke-width="1.5" stroke-linecap="round"
                              stroke-linejoin="round"/>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M14.5996 15H11.5996V9H14.5996C15.7046 9 16.5996 9.895 16.5996 11V13C16.5996 14.105 15.7046 15 14.5996 15V15Z"
                              stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M18.3544 21.3525H5.64844C3.99144 21.3525 2.64844 20.0095 2.64844 18.3525V5.64648C2.64844 3.98948 3.99144 2.64648 5.64844 2.64648H18.3534C20.0104 2.64648 21.3534 3.98948 21.3534 5.64648V18.3515C21.3544 20.0095 20.0114 21.3525 18.3544 21.3525V21.3525Z"
                              stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <p class="mt-1 leading-[1.375rem] text-white text-[1.125rem]">1234567</p>
                </div>
                <div class="coin-count h-[2.875rem] px-3 py-[0.6875rem] flex items-center  gap-2 bg-[#FFDB95] rounded-[0.625rem]">
                    <span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <ellipse cx="8.99859" cy="9.99909" rx="6.0025" ry="2.50104" stroke="#1A1A1A"
                                     stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15.0011 13.501C15.0011 14.8823 12.3137 16.002 8.99859 16.002C5.6835 16.002 2.99609 14.8823 2.99609 13.501"
                                  stroke="#1A1A1A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M21.0025 10C21.0025 11.3813 18.3151 12.501 15 12.501" stroke="#1A1A1A"
                                  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15.0011 10V17.5031C15.0011 18.8844 12.3137 20.0042 8.99859 20.0042C5.6835 20.0042 2.99609 18.8844 2.99609 17.5031V10"
                                  stroke="#1A1A1A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M21.0025 6.49805V14.0012C21.0025 15.3825 18.3151 16.5022 15 16.5022"
                                  stroke="#1A1A1A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M9.49826 7.50853C9.20127 7.2536 9.0207 6.88886 8.99805 6.49811C8.99805 5.11754 11.6892 3.99707 15.0005 3.99707C18.3119 3.99707 21.003 5.11754 21.003 6.49811C21.003 7.87869 18.3119 8.99915 15.0005 8.99915C14.8305 8.99915 14.6604 8.99915 14.5003 8.98915"
                                  stroke="#1A1A1A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                    <p class="mt-1 leading-[1.375rem] text-[1.125rem]">Koinlar: 30</p>
                </div>
            </div>

            <div class="profile-list flex flex-col gap-[0.9375rem] lg:gap-0 rounded-[1.25rem] overflow-hidden">
                <div
                     v-for="item of profileList"
                     :key="item.id"
                >
                    <router-link
                        class="icon flex p-5 gap-4 cursor-pointer bg-white rounded-[0.3125rem] lg:rounded-none hover:text-gray_hover transition-all duration-300"
                        :to="item.to"
                        @click="hideSidebar"
                    >
                        <img :src="'/src/svg/' + item.icon" alt="icon">
                        <p class="text-base lg:text-xl leading-[1.1875rem] my-auto lg:leading-6">{{ item.text }}</p>
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import {ref} from "vue";

const side = ref(null)

const profileList = ref([
    {
        id: 0,
        icon: 'programming-code-copy.svg',
        text: 'Kursga yozilish',
        to: '/profile/another-flow'
    },
    {
        id: 1,
        icon: 'Property 1=School, Learning, Property 2=Property 24.svg',
        text: 'Mening kurslarim',
        to: '/profile/my-courses'
    },
    {
        id: 2,
        icon: 'chat-message.svg',
        text: 'Izoh',
        to: '/profile'
    },
    {
        id: 3,
        icon: 'coins.svg',
        text: 'Koinlarim',
        to: '/profile/coins'
    },
    {
        id: 4,
        icon: 'setting-style-4-big.svg',
        text: 'Sozlamalar',
        to: '/profile/settings'
    },
])

const emit = defineEmits(['hideSidebar'])

const hideSidebar = () => emit("hideSidebar", true, side.value.clientHeight)

</script>

<style scoped>
.headerActiveLink {
    background: #E0E0E0;
}
</style>