<template>
    <div class="p-2.5 h-fit lg:p-5 rounded-[0.625rem] bg-white flex items-center gap-1 lg:gap-2.5">
        <img class="w-6 lg:w-10" :src="props.skill.icon" :alt="props.skill.name">
        <div class="font-[Gilroy-semibold] text-sm lg:text-[1.5rem]">{{ props.skill.name }}</div>
    </div>
</template>

<script setup>
const props = defineProps({
    skill: Object
})
</script>

<style scoped>

</style>