<template>
    <transition name="fade">
        <div v-if="status"
             class="inset-0 fixed w-screen h-screen flex justify-center items-center z-[90] bg-[#0000004D] backdrop-blur-[7.5px]">
        </div>
        </transition>
    <transition name="bounce">
    <PopupComponent :variant="name" v-if="status"/>
    </transition>

    <router-view/>
</template>

<script setup>
import PopupComponent from "@/components/PopupComponent.vue";
import {computed, watchEffect} from "vue";
import {useStore} from "vuex";

const {getters} = useStore()

const status = computed(() => getters.getPopupStatus)
const name = computed(() => getters.getPopupName)

watchEffect(() => {
        document.body.style.overflow = status.value ? 'hidden' : 'auto'
        document.body.style.paddingRight = status.value ? '10px' : '0px'
})

</script>

<style>
.root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.bounce-enter-active {
    animation: bounce-in 0.5s;
}

.bounce-leave-active {
    animation: bounce-in 0.5s reverse;
}

@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    transition: opacity 0.5s ease;
}
</style>
