@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gilroy';
    src: url('@/assets/gilroy/Gilroy-Regular.ttf');
}

@font-face {
    font-family: 'Gilroy-medium';
    src: url('@/assets/gilroy/Gilroy-Medium.ttf');
}

@font-face {
    font-family: 'Gilroy-semibold';
    src: url('@/assets/gilroy/Gilroy-SemiBold.ttf');
}

@layer base {

    html::-webkit-scrollbar {
        width: .7rem;
    }

    html::-webkit-scrollbar-track {
        width: .7rem;
        height: .7rem;
        border-radius: 50px;
        background: #fff;
        box-shadow: inset 0 0 6px #1A1A1A;
    }

    html::-webkit-scrollbar-thumb {
        background-color: #A3B2BD;
        border-radius: 50px;
        outline: solid 2px #A3B2BD;
    }

    html::-webkit-scrollbar {
        width: .7rem;
    }
    html {
        font-family: 'Gilroy-medium', sans-serif;
        height: 100%;
        color: #1A1A1A;

    },
    body {
        height: 100%;
    }
    #app {
        height: 100%;
    }
}
